In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import time

In [2]:
df1=pd.read_html('https://www.koreabaseball.com/Record/Player/HitterBasic/Basic1.aspx', flavor='html5lib') 
df1=df1[0]
df1

,순위,선수명,팀명,AVG,G,PA,AB,R,H,2B,3B,HR,TB,RBI,SAC,SF
0,1,김현수,LG,0.362,117,511,453,95,164,39,2,20,267,101,0,10
1,2,양의지,두산,0.358,133,503,439,84,157,29,1,23,257,77,0,6
2,3,이정후,넥센,0.355,109,520,459,81,163,34,2,6,219,57,3,8
3,4,박병호,넥센,0.345,113,488,400,88,138,20,0,43,287,112,0,3
4,5,안치홍,KIA,0.342,130,549,494,88,169,38,1,23,278,118,0,9
5,6,전준우,롯데,0.342,144,614,556,118,190,36,2,33,329,90,1,2
6,7,김주찬,KIA,0.340,121,471,429,71,146,23,0,18,223,93,2,10
7,8,최형우,KIA,0.339,143,609,528,92,179,34,1,25,290,103,0,8
8,9,유한준,KT,0.339,121,480,428,59,145,21,1,20,228,83,2,1
9,10,김재환,두산,0.334,139,602,527,104,176,36,1,44,346,133,0,7
10,11,최주환,두산,0.333,138,590,519,87,173,39,6,26,302,108,0,10
11,11,이대호,롯데,0.333,144,604,543,81,181,30,0,37,322,125,0,4
12,13,구자욱,삼성,0.333,116,529,478,100,159,26,5,20,255,84,1,2
13,14,채은성,LG,0.331,139,578,529,78,175,36,2,25,290,119,0,5
14,15,러프,삼성,0.330,137,597,506,97,167,32,4,33,306,125,0,8
15,16,이재원,SK,0.329,130,471,407,63,134,24,0,17,209,57,4,5
16,17,손아섭,롯데,0.329,141,625,553,109,182,32,5,26,302,93,1,1
17,18,박건우,두산,0.326,125,529,488,79,159,24,6,12,231,84,1,2
18,19,허경민,두산,0.324,133,577,516,85,167,30,5,10,237,79,5,8
19,20,박민우,NC,0.324,115,460,411,68,133,22,5,5,180,33,3,4
20,21,나성범,NC,0.318,144,620,556,110,177,36,3,23,288,91,0,5
21,22,민병헌,롯데,0.318,118,494,443,74,141,21,0,17,213,66,2,6
22,23,로맥,SK,0.316,141,616,528,102,167,19,0,43,315,107,0,6
23,24,이형종,LG,0.316,118,485,437,83,138,27,0,13,204,42,5,0
24,25,오재원,두산,0.313,132,521,473,78,148,24,1,15,219,81,3,2
25,26,노수광,SK,0.313,135,588,515,93,161,21,8,8,222,53,9,3
26,27,김재호,두산,0.311,131,467,402,78,125,20,0,16,193,75,3,6
27,28,버나디나,KIA,0.310,131,590,513,106,159,25,3,20,250,70,3,1
28,29,호잉,한화,0.306,142,590,529,85,162,47,2,30,303,110,0,5
29,30,로하스,KT,0.305,144,645,564,114,172,30,1,43,333,114,1,2

In [3]:
df1.columns

Index(['순위', '선수명', '팀명', 'AVG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'TB', 'RBI', 'SAC', 'SF'],
      dtype='object')

In [5]:
driverpath =  'C:/Users/driver/chromedriver.exe'
dr = webdriver.Chrome(driverpath)

In [6]:
dr.get('https://www.koreabaseball.com/Record/Player/HitterBasic/Basic1.aspx' )
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo2').click()

In [7]:
list = dr.find_elements_by_class_name('record_result')
for data in list:
    df2_table = data.find_element_by_tag_name('table').text
df2_table

'순위 선수명 팀명 AVG G PA AB R H 2B 3B HR TB RBI SAC SF\n31 박용택 LG 0.303 134 583 524 89 159 38 1 15 244 76 0 7\n32 이명기 KIA 0.302 120 502 447 88 135 28 6 4 187 42 11 1\n33 이원석 삼성 0.301 128 543 479 74 144 30 1 20 236 93 0 5\n34 김헌곤 삼성 0.300 141 586 513 77 154 26 2 11 217 71 5 4\n35 박해민 삼성 0.299 144 649 576 114 172 30 10 9 249 68 8 6\n36 송광민 한화 0.297 113 460 434 63 129 24 0 18 207 79 0 4\n37 유강남 LG 0.296 132 465 425 53 126 33 0 19 216 66 2 1\n38 황재균 KT 0.296 142 588 530 76 157 41 3 25 279 88 2 3\n39 이성열 한화 0.295 131 528 485 76 143 21 1 34 268 102 1 2\n40 김선빈 KIA 0.295 127 492 424 73 125 17 2 4 158 49 6 5\n41 신본기 롯데 0.294 139 479 425 55 125 28 1 11 188 71 5 5\n42 이용규 한화 0.293 134 575 491 82 144 14 1 1 163 36 8 5\n43 임병욱 넥센 0.293 134 447 423 76 124 29 3 13 198 60 0 2\n44 강백호 KT 0.290 138 585 527 108 153 32 2 29 276 84 0 3\n45 김하성 넥센 0.288 129 576 511 95 147 27 4 20 242 84 1 5\n46 한동민 SK 0.284 136 562 486 97 138 31 0 41 292 115 0 8\n47 노진혁 NC 0.283 125 458 420 52 119 21 4 11 181 42 1 2\n48 김민성 넥센 0.283 128 465 413 46 117 24 0 10 171 45 1 5\n49 오재일 두산 0.279 123 477 401 69 112 19 2 27 216 80 0 10\n50 오지환 LG 0.278 144 617 533 93 148 26 2 11 211 71 12 6\n51 김성현 SK 0.277 135 462 415 51 115 19 1 4 148 55 6 3\n52 윤석민 KT 0.276 132 509 460 58 127 22 0 19 206 60 2 3\n53 김혜성 넥센 0.270 136 473 430 79 116 15 6 5 158 45 3 2\n54 강민호 삼성 0.269 129 477 427 46 115 14 0 22 195 71 0 7\n55 번즈 롯데 0.268 133 505 462 80 124 34 5 23 237 64 1 0\n56 양석환 LG 0.263 140 519 483 53 127 27 0 22 220 82 1 5\n57 김상수 삼성 0.263 122 499 453 63 119 13 1 10 164 50 8 3\n58 박경수 KT 0.262 135 528 458 65 120 21 0 25 216 74 0 3\n59 스크럭스 NC 0.257 142 571 501 75 129 35 0 26 242 97 0 3\n60 하주석 한화 0.254 141 517 484 67 123 20 3 9 176 52 1 0'

In [8]:
df2_rows = np.array(str(df2_table.split('\n')[1]).split(' ')).reshape(1,16)
df2_rows.shape

(1, 16)

In [9]:
columns = df1.columns
df2 = pd.DataFrame(columns=columns)
for i in range(1,31):
    df2_rows = np.array(str(df2_table.split('\n')[i]).split(' ')).reshape(1,16)
    df2 = df2.append(pd.DataFrame(df2_rows,columns=columns), ignore_index=True)
df2

,순위,선수명,팀명,AVG,G,PA,AB,R,H,2B,3B,HR,TB,RBI,SAC,SF
0,31,박용택,LG,0.303,134,583,524,89,159,38,1,15,244,76,0,7
1,32,이명기,KIA,0.302,120,502,447,88,135,28,6,4,187,42,11,1
2,33,이원석,삼성,0.301,128,543,479,74,144,30,1,20,236,93,0,5
3,34,김헌곤,삼성,0.300,141,586,513,77,154,26,2,11,217,71,5,4
4,35,박해민,삼성,0.299,144,649,576,114,172,30,10,9,249,68,8,6
5,36,송광민,한화,0.297,113,460,434,63,129,24,0,18,207,79,0,4
6,37,유강남,LG,0.296,132,465,425,53,126,33,0,19,216,66,2,1
7,38,황재균,KT,0.296,142,588,530,76,157,41,3,25,279,88,2,3
8,39,이성열,한화,0.295,131,528,485,76,143,21,1,34,268,102,1,2
9,40,김선빈,KIA,0.295,127,492,424,73,125,17,2,4,158,49,6,5
10,41,신본기,롯데,0.294,139,479,425,55,125,28,1,11,188,71,5,5
11,42,이용규,한화,0.293,134,575,491,82,144,14,1,1,163,36,8,5
12,43,임병욱,넥센,0.293,134,447,423,76,124,29,3,13,198,60,0,2
13,44,강백호,KT,0.290,138,585,527,108,153,32,2,29,276,84,0,3
14,45,김하성,넥센,0.288,129,576,511,95,147,27,4,20,242,84,1,5
15,46,한동민,SK,0.284,136,562,486,97,138,31,0,41,292,115,0,8
16,47,노진혁,NC,0.283,125,458,420,52,119,21,4,11,181,42,1,2
17,48,김민성,넥센,0.283,128,465,413,46,117,24,0,10,171,45,1,5
18,49,오재일,두산,0.279,123,477,401,69,112,19,2,27,216,80,0,10
19,50,오지환,LG,0.278,144,617,533,93,148,26,2,11,211,71,12,6
20,51,김성현,SK,0.277,135,462,415,51,115,19,1,4,148,55,6,3
21,52,윤석민,KT,0.276,132,509,460,58,127,22,0,19,206,60,2,3
22,53,김혜성,넥센,0.270,136,473,430,79,116,15,6,5,158,45,3,2
23,54,강민호,삼성,0.269,129,477,427,46,115,14,0,22,195,71,0,7
24,55,번즈,롯데,0.268,133,505,462,80,124,34,5,23,237,64,1,0
25,56,양석환,LG,0.263,140,519,483,53,127,27,0,22,220,82,1,5
26,57,김상수,삼성,0.263,122,499,453,63,119,13,1,10,164,50,8,3
27,58,박경수,KT,0.262,135,528,458,65,120,21,0,25,216,74,0,3
28,59,스크럭스,NC,0.257,142,571,501,75,129,35,0,26,242,97,0,3
29,60,하주석,한화,0.254,141,517,484,67,123,20,3,9,176,52,1,0

In [10]:
dr.get('https://www.koreabaseball.com/Record/Player/HitterBasic/Basic1.aspx' )
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo3').click()

In [11]:
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo3').click()
list = dr.find_elements_by_class_name('record_result')
for data in list:
    df3_table = data.find_element_by_tag_name('table').text
df3_table

'순위 선수명 팀명 AVG G PA AB R H 2B 3B HR TB RBI SAC SF\n61 김동엽 SK 0.252 124 446 421 58 106 15 0 27 202 76 1 3\n62 최정 SK 0.244 115 489 406 95 99 16 1 35 222 74 0 2'

In [12]:
columns = df1.columns
df3 = pd.DataFrame(columns=columns)
for i in range(1,3):
    df3_rows = np.array(str(df3_table.split('\n')[i]).split(' ')).reshape(1,16)
    df3 = df3.append(pd.DataFrame(df3_rows,columns=columns), ignore_index=True)
df3

   순위  선수명  팀명    AVG    G   PA   AB   R    H  2B 3B  HR   TB RBI SAC SF
0  61  김동엽  SK  0.252  124  446  421  58  106  15  0  27  202  76   1  3
1  62   최정  SK  0.244  115  489  406  95   99  16  1  35  222  74   0  2

In [16]:
batter_basic=pd.concat([df1,df2,df3],ignore_index=True)
batter_basic

,순위,선수명,팀명,AVG,G,PA,AB,R,H,2B,3B,HR,TB,RBI,SAC,SF
0,1,김현수,LG,0.362,117,511,453,95,164,39,2,20,267,101,0,10
1,2,양의지,두산,0.358,133,503,439,84,157,29,1,23,257,77,0,6
2,3,이정후,넥센,0.355,109,520,459,81,163,34,2,6,219,57,3,8
3,4,박병호,넥센,0.345,113,488,400,88,138,20,0,43,287,112,0,3
4,5,안치홍,KIA,0.342,130,549,494,88,169,38,1,23,278,118,0,9
5,6,전준우,롯데,0.342,144,614,556,118,190,36,2,33,329,90,1,2
6,7,김주찬,KIA,0.34,121,471,429,71,146,23,0,18,223,93,2,10
7,8,최형우,KIA,0.339,143,609,528,92,179,34,1,25,290,103,0,8
8,9,유한준,KT,0.339,121,480,428,59,145,21,1,20,228,83,2,1
9,10,김재환,두산,0.334,139,602,527,104,176,36,1,44,346,133,0,7
10,11,최주환,두산,0.333,138,590,519,87,173,39,6,26,302,108,0,10
11,11,이대호,롯데,0.333,144,604,543,81,181,30,0,37,322,125,0,4
12,13,구자욱,삼성,0.333,116,529,478,100,159,26,5,20,255,84,1,2
13,14,채은성,LG,0.331,139,578,529,78,175,36,2,25,290,119,0,5
14,15,러프,삼성,0.33,137,597,506,97,167,32,4,33,306,125,0,8
15,16,이재원,SK,0.329,130,471,407,63,134,24,0,17,209,57,4,5
16,17,손아섭,롯데,0.329,141,625,553,109,182,32,5,26,302,93,1,1
17,18,박건우,두산,0.326,125,529,488,79,159,24,6,12,231,84,1,2
18,19,허경민,두산,0.324,133,577,516,85,167,30,5,10,237,79,5,8
19,20,박민우,NC,0.324,115,460,411,68,133,22,5,5,180,33,3,4
20,21,나성범,NC,0.318,144,620,556,110,177,36,3,23,288,91,0,5
21,22,민병헌,롯데,0.318,118,494,443,74,141,21,0,17,213,66,2,6
22,23,로맥,SK,0.316,141,616,528,102,167,19,0,43,315,107,0,6
23,24,이형종,LG,0.316,118,485,437,83,138,27,0,13,204,42,5,0
24,25,오재원,두산,0.313,132,521,473,78,148,24,1,15,219,81,3,2
25,26,노수광,SK,0.313,135,588,515,93,161,21,8,8,222,53,9,3
26,27,김재호,두산,0.311,131,467,402,78,125,20,0,16,193,75,3,6
27,28,버나디나,KIA,0.31,131,590,513,106,159,25,3,20,250,70,3,1
28,29,호잉,한화,0.306,142,590,529,85,162,47,2,30,303,110,0,5
29,30,로하스,KT,0.305,144,645,564,114,172,30,1,43,333,114,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,33,이원석,삼성,0.301,128,543,479,74,144,30,1,20,236,93,0,5
33,34,김헌곤,삼성,0.300,141,586,513,77,154,26,2,11,217,71,5,4
34,35,박해민,삼성,0.299,144,649,576,114,172,30,10,9,249,68,8,6
35,36,송광민,한화,0.297,113,460,434,63,129,24,0,18,207,79,0,4
36,37,유강남,LG,0.296,132,465,425,53,126,33,0,19,216,66,2,1
37,38,황재균,KT,0.296,142,588,530,76,157,41,3,25,279,88,2,3
38,39,이성열,한화,0.295,131,528,485,76,143,21,1,34,268,102,1,2
39,40,김선빈,KIA,0.295,127,492,424,73,125,17,2,4,158,49,6,5
40,41,신본기,롯데,0.294,139,479,425,55,125,28,1,11,188,71,5,5
41,42,이용규,한화,0.293,134,575,491,82,144,14,1,1,163,36,8,5
42,43,임병욱,넥센,0.293,134,447,423,76,124,29,3,13,198,60,0,2
43,44,강백호,KT,0.290,138,585,527,108,153,32,2,29,276,84,0,3
44,45,김하성,넥센,0.288,129,576,511,95,147,27,4,20,242,84,1,5
45,46,한동민,SK,0.284,136,562,486,97,138,31,0,41,292,115,0,8
46,47,노진혁,NC,0.283,125,458,420,52,119,21,4,11,181,42,1,2
47,48,김민성,넥센,0.283,128,465,413,46,117,24,0,10,171,45,1,5
48,49,오재일,두산,0.279,123,477,401,69,112,19,2,27,216,80,0,10
49,50,오지환,LG,0.278,144,617,533,93,148,26,2,11,211,71,12,6
50,51,김성현,SK,0.277,135,462,415,51,115,19,1,4,148,55,6,3
51,52,윤석민,KT,0.276,132,509,460,58,127,22,0,19,206,60,2,3
52,53,김혜성,넥센,0.270,136,473,430,79,116,15,6,5,158,45,3,2
53,54,강민호,삼성,0.269,129,477,427,46,115,14,0,22,195,71,0,7
54,55,번즈,롯데,0.268,133,505,462,80,124,34,5,23,237,64,1,0
55,56,양석환,LG,0.263,140,519,483,53,127,27,0,22,220,82,1,5
56,57,김상수,삼성,0.263,122,499,453,63,119,13,1,10,164,50,8,3
57,58,박경수,KT,0.262,135,528,458,65,120,21,0,25,216,74,0,3
58,59,스크럭스,NC,0.257,142,571,501,75,129,35,0,26,242,97,0,3
59,60,하주석,한화,0.254,141,517,484,67,123,20,3,9,176,52,1,0
60,61,김동엽,SK,0.252,124,446,421,58,106,15,0,27,202,76,1,3
61,62,최정,SK,0.244,115,489,406,95,99,16,1,35,222,74,0,2

In [30]:
df1=pd.read_html('https://www.koreabaseball.com/Record/Player/HitterBasic/Basic2.aspx', flavor='html5lib') 
df1=df1[0]
df1

,순위,선수명,팀명,AVG,BB,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,1,김현수,LG,0.362,47,6,1,61,9,0.589,0.415,1.004,48,0.419,0.000
1,2,양의지,두산,0.358,45,6,13,40,13,0.585,0.427,1.012,48,0.317,0.333
2,3,이정후,넥센,0.355,42,3,8,58,5,0.477,0.412,0.889,46,0.370,0.000
3,4,박병호,넥센,0.345,68,10,17,114,9,0.718,0.457,1.175,46,0.312,0.333
4,5,안치홍,KIA,0.342,36,1,10,57,13,0.563,0.392,0.955,53,0.403,0.333
5,6,전준우,롯데,0.342,48,1,7,82,12,0.592,0.400,0.992,59,0.379,0.300
6,7,김주찬,KIA,0.340,23,5,7,57,15,0.520,0.375,0.895,42,0.361,0.333
7,8,최형우,KIA,0.339,66,7,7,87,17,0.549,0.414,0.963,47,0.342,1.000
8,9,유한준,KT,0.339,47,3,2,53,9,0.533,0.406,0.939,46,0.385,0.100
9,10,김재환,두산,0.334,59,4,9,134,6,0.657,0.405,1.062,51,0.295,1.000
10,11,최주환,두산,0.333,51,1,10,89,5,0.582,0.397,0.979,50,0.368,0.250
11,11,이대호,롯데,0.333,43,7,14,75,18,0.593,0.394,0.987,55,0.307,0.444
12,13,구자욱,삼성,0.333,43,2,5,110,4,0.533,0.392,0.925,50,0.378,0.000
13,14,채은성,LG,0.331,35,1,9,97,12,0.548,0.379,0.927,54,0.362,0.000
14,15,러프,삼성,0.330,65,0,18,107,17,0.605,0.419,1.024,52,0.366,0.000
15,16,이재원,SK,0.329,43,0,12,65,13,0.514,0.405,0.919,40,0.308,0.400
16,17,손아섭,롯데,0.329,68,1,2,99,15,0.546,0.404,0.950,55,0.360,0.333
17,18,박건우,두산,0.326,28,1,10,65,14,0.473,0.373,0.846,47,0.373,0.500
18,19,허경민,두산,0.324,32,0,16,52,15,0.459,0.376,0.835,48,0.350,0.250
19,20,박민우,NC,0.324,32,3,10,51,4,0.438,0.383,0.821,34,0.362,0.667
20,21,나성범,NC,0.318,44,4,15,131,11,0.518,0.381,0.899,53,0.319,0.000
21,22,민병헌,롯데,0.318,35,3,8,68,10,0.481,0.374,0.855,45,0.283,0.250
22,23,로맥,SK,0.316,72,0,10,123,7,0.597,0.404,1.001,48,0.297,0.000
23,24,이형종,LG,0.316,31,0,12,82,6,0.467,0.377,0.844,37,0.292,0.364
24,25,오재원,두산,0.313,41,0,2,119,13,0.463,0.369,0.832,35,0.338,0.000
25,26,노수광,SK,0.313,48,0,13,86,3,0.431,0.383,0.814,50,0.316,0.667
26,27,김재호,두산,0.311,52,1,4,77,12,0.480,0.390,0.870,32,0.350,0.500
27,28,버나디나,KIA,0.310,63,3,10,103,9,0.487,0.395,0.882,40,0.290,0.000
28,29,호잉,한화,0.306,51,10,5,93,5,0.573,0.369,0.942,43,0.335,0.500
29,30,로하스,KT,0.305,71,4,7,142,10,0.590,0.388,0.978,50,0.322,0.000

In [31]:
df1.columns

Index(['순위', '선수명', '팀명', 'AVG', 'BB', 'IBB', 'HBP', 'SO', 'GDP', 'SLG', 'OBP',
       'OPS', 'MH', 'RISP', 'PH-BA'],
      dtype='object')

In [32]:
driverpath =  'C:/Users/driver/chromedriver.exe'
dr = webdriver.Chrome(driverpath)

In [38]:
dr.get('https://www.koreabaseball.com/Record/Player/HitterBasic/Basic2.aspx' )
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo2').click()

In [39]:
list = dr.find_elements_by_class_name('record_result')
for data in list:
    df2_table = data.find_element_by_tag_name('table').text
df2_table

'순위 선수명 팀명 AVG BB IBB HBP SO GDP SLG OBP OPS MH RISP PH-BA\n31 박용택 LG 0.303 47 0 5 107 21 0.466 0.362 0.828 48 0.285 0.667\n32 이명기 KIA 0.302 40 3 3 64 5 0.418 0.363 0.781 41 0.246 0.000\n33 이원석 삼성 0.301 52 1 7 103 10 0.493 0.374 0.867 39 0.302 0.000\n34 김헌곤 삼성 0.300 54 1 10 70 13 0.423 0.375 0.798 46 0.319 0.000\n35 박해민 삼성 0.299 56 0 3 99 9 0.432 0.360 0.792 53 0.339 0.400\n36 송광민 한화 0.297 18 0 4 93 13 0.477 0.328 0.805 36 0.243 0.000\n37 유강남 LG 0.296 28 1 9 80 21 0.508 0.352 0.860 37 0.282 0.214\n38 황재균 KT 0.296 49 1 4 120 5 0.526 0.358 0.884 48 0.252 0.500\n39 이성열 한화 0.295 35 3 5 143 9 0.553 0.347 0.900 34 0.283 0.600\n40 김선빈 KIA 0.295 48 1 9 42 10 0.373 0.374 0.747 33 0.304 0.250\n41 신본기 롯데 0.294 33 2 11 95 12 0.442 0.357 0.799 34 0.300 0.500\n42 이용규 한화 0.293 59 0 12 62 8 0.332 0.379 0.711 44 0.327 0.000\n43 임병욱 넥센 0.293 22 1 0 119 6 0.468 0.327 0.795 31 0.303 0.200\n44 강백호 KT 0.290 52 0 3 124 4 0.524 0.356 0.880 44 0.308 0.300\n45 김하성 넥센 0.288 54 2 5 81 16 0.474 0.358 0.832 43 0.239 0.500\n46 한동민 SK 0.284 52 3 16 124 10 0.601 0.367 0.968 40 0.286 0.444\n47 노진혁 NC 0.283 33 0 2 92 8 0.431 0.337 0.768 35 0.272 0.250\n48 김민성 넥센 0.283 40 3 6 80 6 0.414 0.351 0.765 24 0.231 0.471\n49 오재일 두산 0.279 60 2 6 121 3 0.539 0.373 0.912 29 0.215 0.000\n50 오지환 LG 0.278 59 3 7 146 6 0.396 0.354 0.750 40 0.357 0.000\n51 김성현 SK 0.277 29 0 9 42 19 0.357 0.336 0.693 30 0.333 0.000\n52 윤석민 KT 0.276 40 2 4 69 17 0.448 0.337 0.785 28 0.220 0.600\n53 김혜성 넥센 0.270 33 1 5 119 6 0.367 0.328 0.695 28 0.333 0.000\n54 강민호 삼성 0.269 29 5 14 96 11 0.457 0.331 0.788 32 0.225 0.273\n55 번즈 롯데 0.268 33 2 9 133 8 0.513 0.329 0.842 34 0.230 0.000\n56 양석환 LG 0.263 24 0 6 81 9 0.455 0.303 0.758 32 0.310 0.143\n57 김상수 삼성 0.263 27 0 8 91 11 0.362 0.314 0.676 32 0.200 0.000\n58 박경수 KT 0.262 58 2 9 129 16 0.472 0.354 0.826 28 0.288 0.400\n59 스크럭스 NC 0.257 55 2 12 144 14 0.483 0.343 0.826 29 0.303 0.000\n60 하주석 한화 0.254 28 0 4 130 7 0.364 0.300 0.664 31 0.267 1.000'

In [42]:
df2_rows = np.array(str(df2_table.split('\n')[1]).split(' ')).reshape(1,15)
df2_rows.shape

(1, 15)

In [44]:
columns = df1.columns
df2 = pd.DataFrame(columns=columns)
for i in range(1,31):
    df2_rows = np.array(str(df2_table.split('\n')[i]).split(' ')).reshape(1,15)
    df2 = df2.append(pd.DataFrame(df2_rows,columns=columns), ignore_index=True)
df2

,순위,선수명,팀명,AVG,BB,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,31,박용택,LG,0.303,47,0,5,107,21,0.466,0.362,0.828,48,0.285,0.667
1,32,이명기,KIA,0.302,40,3,3,64,5,0.418,0.363,0.781,41,0.246,0.000
2,33,이원석,삼성,0.301,52,1,7,103,10,0.493,0.374,0.867,39,0.302,0.000
3,34,김헌곤,삼성,0.300,54,1,10,70,13,0.423,0.375,0.798,46,0.319,0.000
4,35,박해민,삼성,0.299,56,0,3,99,9,0.432,0.360,0.792,53,0.339,0.400
5,36,송광민,한화,0.297,18,0,4,93,13,0.477,0.328,0.805,36,0.243,0.000
6,37,유강남,LG,0.296,28,1,9,80,21,0.508,0.352,0.860,37,0.282,0.214
7,38,황재균,KT,0.296,49,1,4,120,5,0.526,0.358,0.884,48,0.252,0.500
8,39,이성열,한화,0.295,35,3,5,143,9,0.553,0.347,0.900,34,0.283,0.600
9,40,김선빈,KIA,0.295,48,1,9,42,10,0.373,0.374,0.747,33,0.304,0.250
10,41,신본기,롯데,0.294,33,2,11,95,12,0.442,0.357,0.799,34,0.300,0.500
11,42,이용규,한화,0.293,59,0,12,62,8,0.332,0.379,0.711,44,0.327,0.000
12,43,임병욱,넥센,0.293,22,1,0,119,6,0.468,0.327,0.795,31,0.303,0.200
13,44,강백호,KT,0.290,52,0,3,124,4,0.524,0.356,0.880,44,0.308,0.300
14,45,김하성,넥센,0.288,54,2,5,81,16,0.474,0.358,0.832,43,0.239,0.500
15,46,한동민,SK,0.284,52,3,16,124,10,0.601,0.367,0.968,40,0.286,0.444
16,47,노진혁,NC,0.283,33,0,2,92,8,0.431,0.337,0.768,35,0.272,0.250
17,48,김민성,넥센,0.283,40,3,6,80,6,0.414,0.351,0.765,24,0.231,0.471
18,49,오재일,두산,0.279,60,2,6,121,3,0.539,0.373,0.912,29,0.215,0.000
19,50,오지환,LG,0.278,59,3,7,146,6,0.396,0.354,0.750,40,0.357,0.000
20,51,김성현,SK,0.277,29,0,9,42,19,0.357,0.336,0.693,30,0.333,0.000
21,52,윤석민,KT,0.276,40,2,4,69,17,0.448,0.337,0.785,28,0.220,0.600
22,53,김혜성,넥센,0.270,33,1,5,119,6,0.367,0.328,0.695,28,0.333,0.000
23,54,강민호,삼성,0.269,29,5,14,96,11,0.457,0.331,0.788,32,0.225,0.273
24,55,번즈,롯데,0.268,33,2,9,133,8,0.513,0.329,0.842,34,0.230,0.000
25,56,양석환,LG,0.263,24,0,6,81,9,0.455,0.303,0.758,32,0.310,0.143
26,57,김상수,삼성,0.263,27,0,8,91,11,0.362,0.314,0.676,32,0.200,0.000
27,58,박경수,KT,0.262,58,2,9,129,16,0.472,0.354,0.826,28,0.288,0.400
28,59,스크럭스,NC,0.257,55,2,12,144,14,0.483,0.343,0.826,29,0.303,0.000
29,60,하주석,한화,0.254,28,0,4,130,7,0.364,0.300,0.664,31,0.267,1.000

In [48]:
dr.get('https://www.koreabaseball.com/Record/Player/HitterBasic/Basic2.aspx' )
dr.find_element_by_id('cphContents_cphContents_cphContents_ucPager_btnNo3').click()

In [54]:
list = dr.find_elements_by_class_name('record_result')
for data in list:
    df3_table = data.find_element_by_tag_name('table').text
df3_table

'순위 선수명 팀명 AVG BB IBB HBP SO GDP SLG OBP OPS MH RISP PH-BA\n61 김동엽 SK 0.252 17 0 4 108 13 0.480 0.285 0.765 26 0.330 0.286\n62 최정 SK 0.244 58 2 23 129 10 0.547 0.368 0.915 23 0.235 0.000'

In [56]:
df3_rows = np.array(str(df3_table.split('\n')[1]).split(' ')).reshape(1,15)
df3_rows.shape

(1, 15)

In [57]:
columns = df1.columns
df3 = pd.DataFrame(columns=columns)
for i in range(1,3):
    df3_rows = np.array(str(df3_table.split('\n')[i]).split(' ')).reshape(1,15)
    df3 = df3.append(pd.DataFrame(df3_rows,columns=columns), ignore_index=True)
df3

,순위,선수명,팀명,AVG,BB,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,61,김동엽,SK,0.252,17,0,4,108,13,0.480,0.285,0.765,26,0.330,0.286
1,62,최정,SK,0.244,58,2,23,129,10,0.547,0.368,0.915,23,0.235,0.000

In [58]:
batter_basic2=pd.concat([df1,df2,df3],ignore_index=True)
batter_basic2

,순위,선수명,팀명,AVG,BB,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,1,김현수,LG,0.362,47,6,1,61,9,0.589,0.415,1.004,48,0.419,0
1,2,양의지,두산,0.358,45,6,13,40,13,0.585,0.427,1.012,48,0.317,0.333
2,3,이정후,넥센,0.355,42,3,8,58,5,0.477,0.412,0.889,46,0.37,0
3,4,박병호,넥센,0.345,68,10,17,114,9,0.718,0.457,1.175,46,0.312,0.333
4,5,안치홍,KIA,0.342,36,1,10,57,13,0.563,0.392,0.955,53,0.403,0.333
5,6,전준우,롯데,0.342,48,1,7,82,12,0.592,0.4,0.992,59,0.379,0.3
6,7,김주찬,KIA,0.34,23,5,7,57,15,0.52,0.375,0.895,42,0.361,0.333
7,8,최형우,KIA,0.339,66,7,7,87,17,0.549,0.414,0.963,47,0.342,1
8,9,유한준,KT,0.339,47,3,2,53,9,0.533,0.406,0.939,46,0.385,0.1
9,10,김재환,두산,0.334,59,4,9,134,6,0.657,0.405,1.062,51,0.295,1
10,11,최주환,두산,0.333,51,1,10,89,5,0.582,0.397,0.979,50,0.368,0.25
11,11,이대호,롯데,0.333,43,7,14,75,18,0.593,0.394,0.987,55,0.307,0.444
12,13,구자욱,삼성,0.333,43,2,5,110,4,0.533,0.392,0.925,50,0.378,0
13,14,채은성,LG,0.331,35,1,9,97,12,0.548,0.379,0.927,54,0.362,0
14,15,러프,삼성,0.33,65,0,18,107,17,0.605,0.419,1.024,52,0.366,0
15,16,이재원,SK,0.329,43,0,12,65,13,0.514,0.405,0.919,40,0.308,0.4
16,17,손아섭,롯데,0.329,68,1,2,99,15,0.546,0.404,0.95,55,0.36,0.333
17,18,박건우,두산,0.326,28,1,10,65,14,0.473,0.373,0.846,47,0.373,0.5
18,19,허경민,두산,0.324,32,0,16,52,15,0.459,0.376,0.835,48,0.35,0.25
19,20,박민우,NC,0.324,32,3,10,51,4,0.438,0.383,0.821,34,0.362,0.667
20,21,나성범,NC,0.318,44,4,15,131,11,0.518,0.381,0.899,53,0.319,0
21,22,민병헌,롯데,0.318,35,3,8,68,10,0.481,0.374,0.855,45,0.283,0.25
22,23,로맥,SK,0.316,72,0,10,123,7,0.597,0.404,1.001,48,0.297,0
23,24,이형종,LG,0.316,31,0,12,82,6,0.467,0.377,0.844,37,0.292,0.364
24,25,오재원,두산,0.313,41,0,2,119,13,0.463,0.369,0.832,35,0.338,0
25,26,노수광,SK,0.313,48,0,13,86,3,0.431,0.383,0.814,50,0.316,0.667
26,27,김재호,두산,0.311,52,1,4,77,12,0.48,0.39,0.87,32,0.35,0.5
27,28,버나디나,KIA,0.31,63,3,10,103,9,0.487,0.395,0.882,40,0.29,0
28,29,호잉,한화,0.306,51,10,5,93,5,0.573,0.369,0.942,43,0.335,0.5
29,30,로하스,KT,0.305,71,4,7,142,10,0.59,0.388,0.978,50,0.322,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,33,이원석,삼성,0.301,52,1,7,103,10,0.493,0.374,0.867,39,0.302,0.000
33,34,김헌곤,삼성,0.300,54,1,10,70,13,0.423,0.375,0.798,46,0.319,0.000
34,35,박해민,삼성,0.299,56,0,3,99,9,0.432,0.360,0.792,53,0.339,0.400
35,36,송광민,한화,0.297,18,0,4,93,13,0.477,0.328,0.805,36,0.243,0.000
36,37,유강남,LG,0.296,28,1,9,80,21,0.508,0.352,0.860,37,0.282,0.214
37,38,황재균,KT,0.296,49,1,4,120,5,0.526,0.358,0.884,48,0.252,0.500
38,39,이성열,한화,0.295,35,3,5,143,9,0.553,0.347,0.900,34,0.283,0.600
39,40,김선빈,KIA,0.295,48,1,9,42,10,0.373,0.374,0.747,33,0.304,0.250
40,41,신본기,롯데,0.294,33,2,11,95,12,0.442,0.357,0.799,34,0.300,0.500
41,42,이용규,한화,0.293,59,0,12,62,8,0.332,0.379,0.711,44,0.327,0.000
42,43,임병욱,넥센,0.293,22,1,0,119,6,0.468,0.327,0.795,31,0.303,0.200
43,44,강백호,KT,0.290,52,0,3,124,4,0.524,0.356,0.880,44,0.308,0.300
44,45,김하성,넥센,0.288,54,2,5,81,16,0.474,0.358,0.832,43,0.239,0.500
45,46,한동민,SK,0.284,52,3,16,124,10,0.601,0.367,0.968,40,0.286,0.444
46,47,노진혁,NC,0.283,33,0,2,92,8,0.431,0.337,0.768,35,0.272,0.250
47,48,김민성,넥센,0.283,40,3,6,80,6,0.414,0.351,0.765,24,0.231,0.471
48,49,오재일,두산,0.279,60,2,6,121,3,0.539,0.373,0.912,29,0.215,0.000
49,50,오지환,LG,0.278,59,3,7,146,6,0.396,0.354,0.750,40,0.357,0.000
50,51,김성현,SK,0.277,29,0,9,42,19,0.357,0.336,0.693,30,0.333,0.000
51,52,윤석민,KT,0.276,40,2,4,69,17,0.448,0.337,0.785,28,0.220,0.600
52,53,김혜성,넥센,0.270,33,1,5,119,6,0.367,0.328,0.695,28,0.333,0.000
53,54,강민호,삼성,0.269,29,5,14,96,11,0.457,0.331,0.788,32,0.225,0.273
54,55,번즈,롯데,0.268,33,2,9,133,8,0.513,0.329,0.842,34,0.230,0.000
55,56,양석환,LG,0.263,24,0,6,81,9,0.455,0.303,0.758,32,0.310,0.143
56,57,김상수,삼성,0.263,27,0,8,91,11,0.362,0.314,0.676,32,0.200,0.000
57,58,박경수,KT,0.262,58,2,9,129,16,0.472,0.354,0.826,28,0.288,0.400
58,59,스크럭스,NC,0.257,55,2,12,144,14,0.483,0.343,0.826,29,0.303,0.000
59,60,하주석,한화,0.254,28,0,4,130,7,0.364,0.300,0.664,31,0.267,1.000
60,61,김동엽,SK,0.252,17,0,4,108,13,0.480,0.285,0.765,26,0.330,0.286
61,62,최정,SK,0.244,58,2,23,129,10,0.547,0.368,0.915,23,0.235,0.000

In [126]:
batter_basic2=batter_basic2.rename(columns={'순위':'순위1','선수명':'선수명1','팀명':'팀명1','AVG':'AVG1'})

In [127]:
basic_batter=pd.concat([batter_basic,batter_basic2],axis=1)
basic_batter

,순위,선수명,팀명,AVG,G,PA,AB,R,H,2B,...,IBB,HBP,SO,GDP,SLG,OBP,OPS,MH,RISP,PH-BA
0,1,김현수,LG,0.362,117,511,453,95,164,39,...,6,1,61,9,0.589,0.415,1.004,48,0.419,0
1,2,양의지,두산,0.358,133,503,439,84,157,29,...,6,13,40,13,0.585,0.427,1.012,48,0.317,0.333
2,3,이정후,넥센,0.355,109,520,459,81,163,34,...,3,8,58,5,0.477,0.412,0.889,46,0.37,0
3,4,박병호,넥센,0.345,113,488,400,88,138,20,...,10,17,114,9,0.718,0.457,1.175,46,0.312,0.333
4,5,안치홍,KIA,0.342,130,549,494,88,169,38,...,1,10,57,13,0.563,0.392,0.955,53,0.403,0.333
5,6,전준우,롯데,0.342,144,614,556,118,190,36,...,1,7,82,12,0.592,0.4,0.992,59,0.379,0.3
6,7,김주찬,KIA,0.34,121,471,429,71,146,23,...,5,7,57,15,0.52,0.375,0.895,42,0.361,0.333
7,8,최형우,KIA,0.339,143,609,528,92,179,34,...,7,7,87,17,0.549,0.414,0.963,47,0.342,1
8,9,유한준,KT,0.339,121,480,428,59,145,21,...,3,2,53,9,0.533,0.406,0.939,46,0.385,0.1
9,10,김재환,두산,0.334,139,602,527,104,176,36,...,4,9,134,6,0.657,0.405,1.062,51,0.295,1
10,11,최주환,두산,0.333,138,590,519,87,173,39,...,1,10,89,5,0.582,0.397,0.979,50,0.368,0.25
11,11,이대호,롯데,0.333,144,604,543,81,181,30,...,7,14,75,18,0.593,0.394,0.987,55,0.307,0.444
12,13,구자욱,삼성,0.333,116,529,478,100,159,26,...,2,5,110,4,0.533,0.392,0.925,50,0.378,0
13,14,채은성,LG,0.331,139,578,529,78,175,36,...,1,9,97,12,0.548,0.379,0.927,54,0.362,0
14,15,러프,삼성,0.33,137,597,506,97,167,32,...,0,18,107,17,0.605,0.419,1.024,52,0.366,0
15,16,이재원,SK,0.329,130,471,407,63,134,24,...,0,12,65,13,0.514,0.405,0.919,40,0.308,0.4
16,17,손아섭,롯데,0.329,141,625,553,109,182,32,...,1,2,99,15,0.546,0.404,0.95,55,0.36,0.333
17,18,박건우,두산,0.326,125,529,488,79,159,24,...,1,10,65,14,0.473,0.373,0.846,47,0.373,0.5
18,19,허경민,두산,0.324,133,577,516,85,167,30,...,0,16,52,15,0.459,0.376,0.835,48,0.35,0.25
19,20,박민우,NC,0.324,115,460,411,68,133,22,...,3,10,51,4,0.438,0.383,0.821,34,0.362,0.667
20,21,나성범,NC,0.318,144,620,556,110,177,36,...,4,15,131,11,0.518,0.381,0.899,53,0.319,0
21,22,민병헌,롯데,0.318,118,494,443,74,141,21,...,3,8,68,10,0.481,0.374,0.855,45,0.283,0.25
22,23,로맥,SK,0.316,141,616,528,102,167,19,...,0,10,123,7,0.597,0.404,1.001,48,0.297,0
23,24,이형종,LG,0.316,118,485,437,83,138,27,...,0,12,82,6,0.467,0.377,0.844,37,0.292,0.364
24,25,오재원,두산,0.313,132,521,473,78,148,24,...,0,2,119,13,0.463,0.369,0.832,35,0.338,0
25,26,노수광,SK,0.313,135,588,515,93,161,21,...,0,13,86,3,0.431,0.383,0.814,50,0.316,0.667
26,27,김재호,두산,0.311,131,467,402,78,125,20,...,1,4,77,12,0.48,0.39,0.87,32,0.35,0.5
27,28,버나디나,KIA,0.31,131,590,513,106,159,25,...,3,10,103,9,0.487,0.395,0.882,40,0.29,0
28,29,호잉,한화,0.306,142,590,529,85,162,47,...,10,5,93,5,0.573,0.369,0.942,43,0.335,0.5
29,30,로하스,KT,0.305,144,645,564,114,172,30,...,4,7,142,10,0.59,0.388,0.978,50,0.322,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,33,이원석,삼성,0.301,128,543,479,74,144,30,...,1,7,103,10,0.493,0.374,0.867,39,0.302,0.000
33,34,김헌곤,삼성,0.300,141,586,513,77,154,26,...,1,10,70,13,0.423,0.375,0.798,46,0.319,0.000
34,35,박해민,삼성,0.299,144,649,576,114,172,30,...,0,3,99,9,0.432,0.360,0.792,53,0.339,0.400
35,36,송광민,한화,0.297,113,460,434,63,129,24,...,0,4,93,13,0.477,0.328,0.805,36,0.243,0.000
36,37,유강남,LG,0.296,132,465,425,53,126,33,...,1,9,80,21,0.508,0.352,0.860,37,0.282,0.214
37,38,황재균,KT,0.296,142,588,530,76,157,41,...,1,4,120,5,0.526,0.358,0.884,48,0.252,0.500
38,39,이성열,한화,0.295,131,528,485,76,143,21,...,3,5,143,9,0.553,0.347,0.900,34,0.283,0.600
39,40,김선빈,KIA,0.295,127,492,424,73,125,17,...,1,9,42,10,0.373,0.374,0.747,33,0.304,0.250
40,41,신본기,롯데,0.294,139,479,425,55,125,28,...,2,11,95,12,0.442,0.357,0.799,34,0.300,0.500
41,42,이용규,한화,0.293,134,575,491,82,144,14,...,0,12,62,8,0.332,0.379,0.711,44,0.327,0.000
42,43,임병욱,넥센,0.293,134,447,423,76,124,29,...,1,0,119,6,0.468,0.327,0.795,31,0.303,0.200
43,44,강백호,KT,0.290,138,585,527,108,153,32,...,0,3,124,4,0.524,0.356,0.880,44,0.308,0.300
44,45,김하성,넥센,0.288,129,576,511,95,147,27,...,2,5,81,16,0.474,0.358,0.832,43,0.239,0.500
45,46,한동민,SK,0.284,136,562,486,97,138,31,...,3,16,124,10,0.601,0.367,0.968,40,0.286,0.444
46,47,노진혁,NC,0.283,125,458,420,52,119,21,...,0,2,92,8,0.431,0.337,0.768,35,0.272,0.250
47,48,김민성,넥센,0.283,128,465,413,46,117,24,...,3,6,80,6,0.414,0.351,0.765,24,0.231,0.471
48,49,오재일,두산,0.279,123,477,401,69,112,19,...,2,6,121,3,0.539,0.373,0.912,29,0.215,0.000
49,50,오지환,LG,0.278,144,617,533,93,148,26,...,3,7,146,6,0.396,0.354,0.750,40,0.357,0.000
50,51,김성현,SK,0.277,135,462,415,51,115,19,...,0,9,42,19,0.357,0.336,0.693,30,0.333,0.000
51,52,윤석민,KT,0.276,132,509,460,58,127,22,...,2,4,69,17,0.448,0.337,0.785,28,0.220,0.600
52,53,김혜성,넥센,0.270,136,473,430,79,116,15,...,1,5,119,6,0.367,0.328,0.695,28,0.333,0.000
53,54,강민호,삼성,0.269,129,477,427,46,115,14,...,5,14,96,11,0.457,0.331,0.788,32,0.225,0.273
54,55,번즈,롯데,0.268,133,505,462,80,124,34,...,2,9,133,8,0.513,0.329,0.842,34,0.230,0.000
55,56,양석환,LG,0.263,140,519,483,53,127,27,...,0,6,81,9,0.455,0.303,0.758,32,0.310,0.143
56,57,김상수,삼성,0.263,122,499,453,63,119,13,...,0,8,91,11,0.362,0.314,0.676,32,0.200,0.000
57,58,박경수,KT,0.262,135,528,458,65,120,21,...,2,9,129,16,0.472,0.354,0.826,28,0.288,0.400
58,59,스크럭스,NC,0.257,142,571,501,75,129,35,...,2,12,144,14,0.483,0.343,0.826,29,0.303,0.000
59,60,하주석,한화,0.254,141,517,484,67,123,20,...,0,4,130,7,0.364,0.300,0.664,31,0.267,1.000
60,61,김동엽,SK,0.252,124,446,421,58,106,15,...,0,4,108,13,0.480,0.285,0.765,26,0.330,0.286
61,62,최정,SK,0.244,115,489,406,95,99,16,...,2,23,129,10,0.547,0.368,0.915,23,0.235,0.000

In [128]:
basic_batter=basic_batter.drop(['순위','순위1','선수명1','팀명1','AVG1'],axis=1)

In [129]:
basic_batter.columns

Index(['선수명', '팀명', 'AVG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'TB',
       'RBI', 'SAC', 'SF', 'BB', 'IBB', 'HBP', 'SO', 'GDP', 'SLG', 'OBP',
       'OPS', 'MH', 'RISP', 'PH-BA'],
      dtype='object')

In [130]:
basic_batter.to_excel('batter_basic.xlsx', encoding='utf-8', index=False)

In [112]:
pitcher_basic1=pd.read_html('https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic1.aspx', flavor='html5lib') 
pitcher_basic1=pitcher_basic1[0]
pitcher_basic1

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,IP,H,HR,BB,HBP,SO,R,ER,WHIP
0,1,린드블럼,두산,2.88,26,15,4,0,0,0.789,168 2/3,142,16,38,8,157,56,54,1.07
1,2,윌슨,LG,3.07,26,9,4,0,0,0.692,170,158,11,35,6,149,63,58,1.14
2,3,소사,LG,3.52,27,9,9,0,0,0.500,181 1/3,192,16,28,4,181,83,71,1.21
3,4,이용찬,두산,3.63,25,15,3,0,0,0.833,144,151,14,36,8,102,62,58,1.30
4,5,후랭코프,두산,3.74,28,18,3,0,0,0.857,149 1/3,118,12,55,22,134,64,62,1.16
5,6,브리검,넥센,3.84,31,11,7,0,1,0.611,199,188,19,50,19,175,89,85,1.20
6,7,켈리,SK,4.09,28,12,7,0,0,0.632,158 1/3,152,18,47,13,161,78,72,1.26
7,8,양현종,KIA,4.15,29,13,11,0,0,0.542,184 1/3,199,21,43,2,152,88,85,1.31
8,9,박종훈,SK,4.18,30,14,8,0,0,0.636,159 1/3,158,16,54,20,133,81,74,1.33
9,10,니퍼트,KT,4.25,29,8,8,0,0,0.500,175 2/3,209,26,39,9,165,88,83,1.41
10,11,피어밴드,KT,4.30,27,8,8,0,0,0.500,163 1/3,186,24,38,6,141,90,78,1.37
11,12,문승원,SK,4.60,31,8,9,1,1,0.471,150 2/3,180,24,37,4,122,86,77,1.44
12,13,헥터,KIA,4.60,29,11,10,0,0,0.524,174,209,25,36,4,137,102,89,1.41
13,14,샘슨,한화,4.68,30,13,8,0,0,0.619,161 2/3,144,17,79,5,195,91,84,1.38
14,15,레일리,롯데,4.74,30,11,13,0,0,0.458,178 1/3,180,24,54,18,178,106,94,1.31
15,16,이재학,NC,4.79,29,5,13,0,0,0.278,152 1/3,157,13,49,10,116,87,81,1.35
16,17,한현희,넥센,4.79,30,11,7,0,0,0.611,169,208,22,49,20,105,98,90,1.52
17,18,산체스,SK,4.89,29,8,8,0,1,0.500,145 1/3,161,26,39,7,124,90,79,1.38
18,19,아델만,삼성,5.05,31,8,12,0,0,0.400,171,202,20,54,11,137,101,96,1.50
19,20,베렛,NC,5.28,29,6,10,0,0,0.375,155,178,24,59,9,144,94,91,1.53
20,21,보니야,삼성,5.30,29,7,10,0,0,0.412,168,193,23,63,12,151,111,99,1.52
21,22,금민철,KT,5.41,29,8,12,0,0,0.400,156 1/3,212,19,68,7,79,104,94,1.79
22,23,임찬규,LG,5.77,29,11,11,1,0,0.500,146 2/3,195,23,47,13,125,104,94,1.65
23,24,차우찬,LG,6.09,29,12,10,0,0,0.545,170,177,27,79,10,136,119,115,1.51
24,25,김원중,롯데,6.94,30,8,7,0,0,0.533,145 1/3,173,28,77,11,137,115,112,1.72

In [120]:
#겹치는 부분 drop할때 중복해서 없애는 걸 방지
pitcher_basic2=pd.read_html('https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic2.aspx', flavor='html5lib') 
pitcher_basic2=pitcher_basic2[0]
pitcher_basic2=pitcher_basic2.rename(columns={'순위':'순위1','선수명':'선수명1','팀명':'팀명1','ERA':'ERA1'})
pitcher_basic2

,순위1,선수명1,팀명1,ERA1,CG,SHO,QS,BSV,TBF,NP,AVG,2B,3B,SAC,SF,IBB,WP,BK
0,1,린드블럼,두산,2.88,0,0,21,0,681,2605,0.226,33,2,5,2,0,10,0
1,2,윌슨,LG,3.07,1,1,20,0,689,2632,0.247,23,3,6,3,1,10,1
2,3,소사,LG,3.52,1,1,18,0,760,2751,0.267,44,1,2,6,1,6,0
3,4,이용찬,두산,3.63,1,0,16,0,608,2237,0.274,24,1,5,7,2,6,0
4,5,후랭코프,두산,3.74,0,0,17,0,621,2624,0.220,17,1,5,3,1,15,0
5,6,브리검,넥센,3.84,2,1,19,0,829,3089,0.249,28,3,5,1,0,4,0
6,7,켈리,SK,4.09,0,0,13,0,674,2497,0.250,28,3,2,4,1,5,2
7,8,양현종,KIA,4.15,3,0,17,0,772,2883,0.278,33,0,9,3,1,5,0
8,9,박종훈,SK,4.18,0,0,10,0,702,2701,0.254,31,3,3,4,0,3,0
9,10,니퍼트,KT,4.25,0,0,20,0,765,2965,0.296,33,4,6,5,2,9,0
10,11,피어밴드,KT,4.30,1,0,16,0,707,2723,0.286,27,1,10,3,0,5,0
11,12,문승원,SK,4.60,0,0,9,0,656,2509,0.296,33,2,5,2,0,4,0
12,13,헥터,KIA,4.60,1,0,18,0,753,2871,0.298,31,0,7,5,2,4,1
13,14,샘슨,한화,4.68,0,0,15,0,703,3047,0.234,26,1,1,3,0,18,2
14,15,레일리,롯데,4.74,0,0,15,0,775,3048,0.263,34,4,7,11,1,4,2
15,16,이재학,NC,4.79,1,0,10,0,658,2740,0.266,27,2,4,4,2,6,0
16,17,한현희,넥센,4.79,0,0,12,0,756,2790,0.307,42,3,5,5,0,6,0
17,18,산체스,SK,4.89,0,0,14,1,632,2467,0.277,21,3,4,0,1,12,0
18,19,아델만,삼성,5.05,0,0,15,0,758,3070,0.296,39,1,5,6,0,7,1
19,20,베렛,NC,5.28,0,0,11,0,698,2682,0.289,31,2,5,9,0,10,1
20,21,보니야,삼성,5.30,0,0,15,0,752,2931,0.290,40,2,8,3,1,9,1
21,22,금민철,KT,5.41,0,0,11,0,720,2695,0.335,30,1,9,4,1,10,0
22,23,임찬규,LG,5.77,0,0,9,0,680,2640,0.321,32,1,7,6,1,6,0
23,24,차우찬,LG,6.09,1,0,13,0,762,2956,0.269,36,4,4,10,2,10,0
24,25,김원중,롯데,6.94,0,0,5,0,681,2717,0.295,37,2,4,3,1,7,0

In [121]:
pitcher_basic=pd.concat([pitcher_basic1,pitcher_basic2],axis=1)
pitcher_basic

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,TBF,NP,AVG,2B,3B,SAC,SF,IBB,WP,BK
0,1,린드블럼,두산,2.88,26,15,4,0,0,0.789,...,681,2605,0.226,33,2,5,2,0,10,0
1,2,윌슨,LG,3.07,26,9,4,0,0,0.692,...,689,2632,0.247,23,3,6,3,1,10,1
2,3,소사,LG,3.52,27,9,9,0,0,0.500,...,760,2751,0.267,44,1,2,6,1,6,0
3,4,이용찬,두산,3.63,25,15,3,0,0,0.833,...,608,2237,0.274,24,1,5,7,2,6,0
4,5,후랭코프,두산,3.74,28,18,3,0,0,0.857,...,621,2624,0.220,17,1,5,3,1,15,0
5,6,브리검,넥센,3.84,31,11,7,0,1,0.611,...,829,3089,0.249,28,3,5,1,0,4,0
6,7,켈리,SK,4.09,28,12,7,0,0,0.632,...,674,2497,0.250,28,3,2,4,1,5,2
7,8,양현종,KIA,4.15,29,13,11,0,0,0.542,...,772,2883,0.278,33,0,9,3,1,5,0
8,9,박종훈,SK,4.18,30,14,8,0,0,0.636,...,702,2701,0.254,31,3,3,4,0,3,0
9,10,니퍼트,KT,4.25,29,8,8,0,0,0.500,...,765,2965,0.296,33,4,6,5,2,9,0
10,11,피어밴드,KT,4.30,27,8,8,0,0,0.500,...,707,2723,0.286,27,1,10,3,0,5,0
11,12,문승원,SK,4.60,31,8,9,1,1,0.471,...,656,2509,0.296,33,2,5,2,0,4,0
12,13,헥터,KIA,4.60,29,11,10,0,0,0.524,...,753,2871,0.298,31,0,7,5,2,4,1
13,14,샘슨,한화,4.68,30,13,8,0,0,0.619,...,703,3047,0.234,26,1,1,3,0,18,2
14,15,레일리,롯데,4.74,30,11,13,0,0,0.458,...,775,3048,0.263,34,4,7,11,1,4,2
15,16,이재학,NC,4.79,29,5,13,0,0,0.278,...,658,2740,0.266,27,2,4,4,2,6,0
16,17,한현희,넥센,4.79,30,11,7,0,0,0.611,...,756,2790,0.307,42,3,5,5,0,6,0
17,18,산체스,SK,4.89,29,8,8,0,1,0.500,...,632,2467,0.277,21,3,4,0,1,12,0
18,19,아델만,삼성,5.05,31,8,12,0,0,0.400,...,758,3070,0.296,39,1,5,6,0,7,1
19,20,베렛,NC,5.28,29,6,10,0,0,0.375,...,698,2682,0.289,31,2,5,9,0,10,1
20,21,보니야,삼성,5.30,29,7,10,0,0,0.412,...,752,2931,0.290,40,2,8,3,1,9,1
21,22,금민철,KT,5.41,29,8,12,0,0,0.400,...,720,2695,0.335,30,1,9,4,1,10,0
22,23,임찬규,LG,5.77,29,11,11,1,0,0.500,...,680,2640,0.321,32,1,7,6,1,6,0
23,24,차우찬,LG,6.09,29,12,10,0,0,0.545,...,762,2956,0.269,36,4,4,10,2,10,0
24,25,김원중,롯데,6.94,30,8,7,0,0,0.533,...,681,2717,0.295,37,2,4,3,1,7,0

In [122]:
pitcher_basic=pitcher_basic.drop(['순위','순위1','선수명1','팀명1','ERA1'],axis=1)

In [124]:
pitcher_basic.columns

Index(['선수명', '팀명', 'ERA', 'G', 'W', 'L', 'SV', 'HLD', 'WPCT', 'IP', 'H', 'HR',
       'BB', 'HBP', 'SO', 'R', 'ER', 'WHIP', 'CG', 'SHO', 'QS', 'BSV', 'TBF',
       'NP', 'AVG', '2B', '3B', 'SAC', 'SF', 'IBB', 'WP', 'BK'],
      dtype='object')

In [125]:
pitcher_basic.to_excel('pitcher_basic.xlsx', encoding='utf-8', index=False)

In [ ]:
batter_basic=pd.read_csv("batter_basic.csv",encoding="euc-kr")
batter_basic.head

In [ ]:
batter_position=pd.read_csv("batter_position.csv")
batter_position=batter_position.drop(['팀명','순위'],axis=1)
batter_position.head

In [ ]:
# NaN값은 지명타자로 지정
df=pd.merge(batter_basic,batter_position,how='left',on='선수명')
df

In [ ]:
df.replace(np.nan,'지명타자')

In [ ]:
batter_final=df.replace(np.nan,'지명타자')

In [ ]:
batter_final.to_csv('batter_final.csv',encoding='utf-8')