In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import time

In [2]:
defense=pd.read_html('https://www.koreabaseball.com/Record/Player/HitterDetail/Daily.aspx?playerId=76232')
defense

[      3월     상대   AVG1  AB   R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO  GDP  \
 0  03.24     삼성   0.75   4   2  3   2   0   0    0   0   0   0    0   0  0.0
 1  03.25     삼성   0.50   4   0  2   0   0   0    0   0   0   0    0   0  1.0
 2  03.27     롯데   0.00   3   0  0   0   0   0    0   0   0   0    1   1  0.0
 3  03.28     롯데   0.25   4   0  1   0   0   0    1   0   0   0    0   0  0.0
 4  03.29     롯데   1.00   3   1  3   1   0   0    0   0   0   1    0   0  0.0
 5  03.30     KT   0.50   4   1  2   1   0   1    3   0   0   1    0   0  0.0
 6  03.31     KT   0.50   2   1  1   0   0   0    0   0   0   1    1   0  0.0
 7     합계  0.500  24.00   5  12  4   0   1   4    0   0   3   2    1   1  0.5

     AVG2
 0  0.750
 1  0.625
 2  0.455
 3  0.400
 4  0.500
 5  0.500
 6  0.500
 7    NaN  ,
        4월     상대   AVG1  AB   R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO  \
 0   04.01     KT  0.333   3   1  1   0   0   0    0   0   0   1    0   0
 1   04.03     LG  0.600   5   1  3   2   0   0    1   1   0   0    0   0
 2   04.04     LG  0.000   4   0  0   0   0   0    0   0   0   1    0   1
 3   04.07     NC  1.000   1   1  1   0   0   0    0   0   0   0    1   0
 4   04.08     NC  0.000   1   0  0   0   0   0    0   0   0   1    0   1
 5   04.10     삼성  0.250   4   0  1   0   0   0    1   0   0   0    1   1
 6   04.11     삼성  0.400   5   2  2   0   0   0    0   1   0   0    0   1
 7   04.12     삼성  0.500   4   2  2   0   0   1    1   0   0   0    0   0
 8   04.13     넥센  0.500   4   1  2   0   0   0    1   0   0   0    0   0
 9   04.14     넥센  0.000   4   0  0   0   0   0    0   0   0   0    0   2
 10  04.15     넥센  0.000   2   0  0   0   0   0    0   0   0   0    0   0
 11  04.17     한화  0.000   2   0  0   0   0   0    0   0   0   0    0   0
 12  04.18     한화      -   0   0  0   0   0   0    0   0   0   0    0   0
 13  04.19     한화  0.500   4   1  2   0   0   0    1   0   0   0    0   1
 14  04.20    KIA  0.500   2   1  1   0   0   0    1   1   0   1    1   0
 15  04.21    KIA  1.000   1   1  1   1   0   0    2   0   0   0    0   0
 16  04.22    KIA  0.000   2   0  0   0   0   0    0   0   0   1    0   1
 17  04.24     SK  0.600   5   2  3   2   0   1    2   0   0   0    0   0
 18  04.25     SK  0.500   4   1  2   0   0   1    1   0   0   1    0   0
 19  04.26     SK  0.500   4   0  2   1   0   0    1   0   0   0    0   1
 20  04.27     NC  1.000   1   0  1   0   0   0    1   0   0   1    0   0
 21  04.28     NC  0.000   4   0  0   0   0   0    0   0   0   0    0   0
 22  04.29     NC  0.500   4   1  2   0   0   0    0   0   0   1    0   0
 23     합계  0.371     70  15  26  6   0   3  13    3   0   8   3    9   0

       GDP   AVG2
 0   0.000  0.481
 1   0.000  0.500
 2   0.000  0.444
 3   0.000  0.459
 4   0.000  0.447
 5   0.000  0.429
 6   0.000  0.426
 7   0.000  0.431
 8   0.000  0.436
 9   0.000  0.407
 10  0.000  0.393
 11  0.000  0.381
 12  0.000  0.381
 13  0.000  0.388
 14  0.000  0.391
 15  0.000  0.400
 16  0.000  0.389
 17  0.000  0.403
 18  0.000  0.407
 19  0.000  0.412
 20  0.000  0.419
 21  0.000  0.400
 22  0.000  0.404
 23  0.404    NaN  ,
        5월     상대    AVG1  AB   R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO  \
 0   05.01     KT   0.250   4   0  1   0   0   0    1   0   0   0    0   1
 1   05.03     KT   0.400   5   1  2   0   0   1    1   0   0   0    0   0
 2   05.04     LG   0.600   5   2  3   2   0   1    4   0   0   0    0   0
 3   05.05     LG   0.250   4   0  1   0   0   0    0   0   0   0    0   0
 4   05.06     LG   0.200   5   1  1   0   0   0    0   0   0   0    0   0
 5   05.08    KIA   1.000   3   0  3   0   0   0    0   0   0   0    0   0
 6   05.09    KIA   0.250   4   1  1   0   0   0    1   0   0   0    0   0
 7   05.10    KIA   0.500   6   0  3   0   0   0    0   0   0   0    0   2
 8   05.13     넥센   0.000   2   0  0   0   0   0    0   0   0   1    0   0
 9   05.15     SK   0.500   4   1  2   0   0   1    2   0   0   0    0   0
 10  05.16     SK   0.333   3   1  1   0   0   0    0   0   0   0    0   1
 11  05.18     롯데   0.333   3   1  1   0   0   0    1   0   0   1    0   1
 12  05.19     롯데   0.000   2   0  0   0   0   0    0   0   0   0    0   1
 13  05.20     롯데   0.500   4   1  2   0   0   0    1   0   0   1    0   1
 14  05.22     한화   0.000   4   1  0   0   0   0    0   0   0   0    1   1
 15  05.23     한화   1.000   2   2  2   0   0   1    1   0   0   0    0   0
 16  05.24     한화   0.250   4   1  1   1   0   0    0   0   0   0    0   1
 17  05.25     삼성   0.250   4   0  1   1   0   0    1   0   0   0    0   0
 18  05.26     삼성   0.400   5   1  2   0   0   0    1   0   0   0    0   0
 19  05.27     삼성   0.500   4   1  2   0   0   1    1   0   0   0    0   0
 20  05.30     SK   0.667   3   2  2   1   0   0    1   0   0   1    0   0
 21  05.31     SK   0.250   4   0  1   0   0   0    0   0   0   0    0   0
 22     합계  0.381  84.000  17  32  5   0   5  16    0   0   4   1    9   1

       GDP   AVG2
 0   0.000  0.398
 1   0.000  0.398
 2   0.000  0.407
 3   0.000  0.402
 4   0.000  0.393
 5   0.000  0.408
 6   0.000  0.403
 7   0.000  0.408
 8   1.000  0.402
 9   0.000  0.404
 10  0.000  0.403
 11  0.000  0.401
 12  0.000  0.396
 13  0.000  0.399
 14  0.000  0.388
 15  0.000  0.396
 16  0.000  0.392
 17  0.000  0.389
 18  0.000  0.389
 19  0.000  0.392
 20  0.000  0.397
 21  0.000  0.393
 22  0.393    NaN  ,
        6월     상대   AVG1  AB   R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO  \
 0   06.01    KIA  0.750   4   1  3   0   0   1    2   0   0   0    0   0
 1   06.02    KIA  1.000   3   3  3   1   0   1    1   0   0   1    0   0
 2   06.03    KIA  0.000   5   0  0   0   0   0    0   0   0   1    0   0
 3   06.05     넥센  0.250   4   1  1   0   0   1    1   0   0   0    0   1
 4   06.06     넥센  0.600   5   1  3   1   0   0    0   0   0   0    0   0
 5   06.07     넥센  0.333   3   1  1   0   1   0    1   0   0   0    1   1
 6   06.08     NC      -   0   0  0   0   0   0    1   0   0   0    0   0
 7   06.09     NC  0.333   3   0  1   0   0   0    1   0   0   1    0   0
 8   06.10     NC  0.000   3   0  0   0   0   0    0   0   0   1    0   0
 9   06.12     KT  0.500   4   1  2   1   0   0    1   0   0   0    0   0
 10  06.13     KT  0.667   3   2  2   0   0   2    3   0   0   1    0   0
 11  06.14     KT  0.333   3   0  1   0   0   0    0   0   0   1    0   1
 12  06.16     한화  1.000   2   2  2   1   0   1    1   0   0   2    0   0
 13  06.17     한화  0.000   3   0  0   0   0   0    0   0   0   1    0   0
 14  06.19     넥센  0.000   4   0  0   0   0   0    0   0   0   0    0   0
 15  06.20     넥센  0.000   1   0  0   0   0   0    0   0   0   0    0   0
 16  06.21     넥센  0.200   5   1  1   0   0   1    1   0   0   0    0   0
 17  06.22     삼성  0.333   3   0  1   0   0   0    0   0   0   0    0   0
 18  06.23     삼성  0.500   4   1  2   1   0   0    0   0   0   1    0   0
 19  06.26     NC  0.500   4   1  2   0   0   1    3   0   0   0    0   0
 20  06.27     NC  0.000   4   0  0   0   0   0    0   0   0   0    0   0
 21  06.28     NC  0.000   2   1  0   0   0   0    0   0   0   1    0   0
 22  06.29    KIA  0.250   4   0  1   0   0   0    1   0   0   1    0   0
 23  06.30    KIA  0.400   5   1  2   0   0   0    2   0   0   0    0   0
 24     합계  0.346     81  17  28  5   1   8  19    0   0  12   1    3   5

       GDP   AVG2
 0   0.000  0.401
 1   0.000  0.411
 2   0.000  0.400
 3   1.000  0.397
 4   0.000  0.402
 5   1.000  0.401
 6   0.000  0.401
 7   0.000  0.400
 8   0.000  0.394
 9   0.000  0.396
 10  0.000  0.400
 11  0.000  0.399
 12  0.000  0.405
 13  0.000  0.399
 14  0.000  0.392
 15  0.000  0.390
 16  1.000  0.386
 17  0.000  0.386
 18  0.000  0.388
 19  0.000  0.389
 20  1.000  0.383
 21  0.000  0.380
 22  0.000  0.378
 23  1.000  0.378
 24  0.378    NaN  ,
        7월     상대   AVG1  AB   R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO  \
 0   07.04     롯데  0.750   4   1  3   0   0   0    1   0   0   0    0   1
 1   07.05     롯데  1.000   1   0  1   0   0   0    0   0   0   1    0   0
 2   07.06     삼성  0.400   5   1  2   1   0   0    1   0   0   0    0   1
 3   07.07     삼성  0.250   4   0  1   0   0   0    1   0   0   0    0   0
 4   07.08     삼성  0.000   2   0  0   0   0   0    0   0   0   0    1   0
 5   07.10     KT  0.000   2   0  0   0   0   0    0   0   0   1    0   0
 6   07.11     KT  0.600   5   0  3   0   0   0    1   0   0   0    0   0
 7   07.12     KT  0.000   3   0  0   0   0   0    0   0   0   0    0   0
 8   07.17     롯데      -   0   0  0   0   0   0    0   0   0   0    0   0
 9   07.18     롯데  0.250   4   1  1   0   0   1    1   0   0   0    0   0
 10  07.19     롯데  0.250   4   1  1   0   0   0    0   0   0   0    0   1
 11  07.20     LG  0.500   6   1  3   0   0   0    1   0   0   0    0   0
 12  07.21     LG  0.500   2   1  1   1   0   0    1   0   0   0    0   0
 13  07.22     LG  0.250   4   1  1   0   0   0    0   1   0   0    0   1
 14  07.24     SK  0.667   3   1  2   0   0   1    1   0   0   1    0   0
 15  07.25     SK  0.000   2   0  0   0   0   0    0   0   0   0    0   1
 16  07.26     SK  0.333   3   0  1   0   0   0    0   0   0   0    0   0
 17  07.27     한화  0.250   4   0  1   1   0   0    1   0   0   0    0   0
 18  07.28     한화  0.600   5   1  3   1   0   1    3   0   0   0    0   0
 19  07.29     한화      -   0   0  0   0   0   0    0   0   0   0    0   0
 20  07.31     LG  0.500   2   1  1   0   0   0    0   0   0   2    0   0
 21     합계  0.385     65  10  25  4   0   3  12    1   0   5   1    5   4

      GDP   AVG2
 0   0.00  0.384
 1   0.00  0.386
 2   0.00  0.387
 3   2.00  0.385
 4   0.00  0.382
 5   1.00  0.379
 6   1.00  0.383
 7   0.00  0.379
 8   0.00  0.379
 9   0.00  0.377
 10  0.00  0.375
 11  0.00  0.378
 12  0.00  0.379
 13  0.00  0.377
 14  0.00  0.380
 15  0.00  0.377
 16  0.00  0.377
 17  0.00  0.375
 18  0.00  0.379
 19  0.00  0.379
 20  0.00  0.380
 21  0.38    NaN  ,
        8월     상대    AVG1  AB  R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO  \
 0   08.01     LG   0.000   2  2  0   0   0   0    2   1   0   1    0   0
 1   08.02     LG   0.000   1  0  0   0   0   0    0   0   0   0    0   0
 2   08.04    KIA   0.000   3  0  0   0   0   0    0   0   0   0    0   1
 3   08.05    KIA   0.667   3  0  2   0   0   0    0   0   0   0    0   0
 4   08.07     한화   0.000   1  2  0   0   0   0    0   1   0   3    0   0
 5   08.08     한화   0.500   4  0  2   1   0   0    0   0   0   0    0   0
 6   08.09     KT   0.000   4  1  0   0   0   0    0   0   0   0    1   1
 7   08.10     KT   0.000   3  0  0   0   0   0    0   0   0   0    0   0
 8   08.12     롯데   0.333   6  0  2   0   0   0    0   0   0   0    0   0
 9   08.14     SK   0.500   4  1  2   1   0   0    0   0   0   0    0   1
 10  08.15     SK   0.500   2  0  1   0   0   0    0   0   0   0    0   0
 11  08.16     넥센   0.000   4  0  0   0   0   0    0   0   0   0    0   0
 12     합계  0.243  37.000   6  9  2   0   0   2    2   0   4   1    3   0

       GDP   AVG2
 0   0.000  0.377
 1   0.000  0.376
 2   0.000  0.373
 3   0.000  0.375
 4   0.000  0.374
 5   0.000  0.376
 6   0.000  0.371
 7   0.000  0.368
 8   0.000  0.368
 9   0.000  0.369
 10  0.000  0.370
 11  0.000  0.366
 12  0.366    NaN  ,
        9월     상대   AVG1  AB   R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO  \
 0   09.05    KIA  0.000   4   1  0   0   0   0    0   0   0   0    1   0
 1   09.06     삼성  0.000   3   0  0   0   0   0    0   0   0   1    1   1
 2   09.07     삼성  0.400   5   1  2   0   0   1    2   0   0   0    0   0
 3   09.08     SK  0.000   4   0  0   0   0   0    0   0   0   0    0   2
 4   09.12     롯데  0.000   4   1  0   0   0   0    0   0   0   0    0   0
 5   09.13     KT  0.333   3   1  1   0   0   0    1   0   0   1    0   0
 6   09.14     KT  0.000   3   0  0   0   0   0    0   0   0   1    0   0
 7   09.15     NC  0.500   2   0  1   0   0   0    0   0   0   0    0   0
 8   09.16     NC  0.250   4   0  1   0   0   0    0   0   0   0    0   1
 9   09.18     넥센      -   0   0  0   0   0   0    0   0   0   0    0   0
 10  09.19     넥센  0.000   1   0  0   0   0   0    0   0   0   0    0   0
 11  09.20     LG  0.250   4   2  1   0   0   0    0   0   0   1    0   1
 12  09.21     LG  0.000   5   1  0   0   0   0    0   0   0   0    0   1
 13  09.22     NC  0.800   5   2  4   1   0   0    2   0   0   1    0   0
 14  09.23     NC  1.000   1   0  1   0   0   0    0   0   0   0    0   0
 15  09.25     넥센  0.333   3   2  1   1   0   0    1   0   0   1    1   0
 16  09.28     한화  0.500   2   0  1   0   0   0    0   0   0   1    0   0
 17  09.29     LG  0.750   4   2  3   1   0   1    2   0   0   0    1   0
 18     합계  0.281     57  13  16  3   0   2   8    0   0   7   4    6   2

       GDP   AVG2
 0   0.000  0.362
 1   0.000  0.359
 2   1.000  0.359
 3   0.000  0.355
 4   0.000  0.352
 5   0.000  0.352
 6   0.000  0.349
 7   0.000  0.350
 8   0.000  0.349
 9   0.000  0.349
 10  0.000  0.348
 11  0.000  0.347
 12  0.000  0.342
 13  0.000  0.348
 14  0.000  0.350
 15  0.000  0.350
 16  1.000  0.350
 17  0.000  0.354
 18  0.354    NaN  ,
      10월     상대   AVG1  AB  R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO    GDP  \
 0  10.06     LG   0.00   2  0  0   0   0   0    0   0   0   2    0   1  0.000
 1  10.07    KIA   0.40   5  0  2   0   0   0    1   0   0   0    0   1  0.000
 2  10.10     SK   0.00   2  0  0   0   0   0    0   0   0   0    0   0  0.000
 3  10.12     NC   0.80   5  1  4   0   0   1    2   0   0   0    0   1  0.000
 4  10.13     KT   0.75   4  0  3   0   0   0    0   0   0   0    0   1  0.000
 5  10.14     롯데   0.00   3  0  0   0   0   0    0   0   0   0    0   0  0.000
 6     합계  0.429  21.00   1  9  0   0   1   3    0   0   2   0    4   0  0.358

     AVG2
 0  0.352
 1  0.353
 2  0.351
 3  0.356
 4  0.360
 5  0.358
 6    NaN  ]

In [3]:
month=defense[0]
month
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
양의지
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat3=[]
for i in range(0,15):
    if i ==0:
        stat3.append(양의지[i])
    elif i==14:
        stat3.append(양의지[i])
    else:
        stat3.append(양의지[i]/(len(month)-1))
stat3

[0.5,
 3.4285714285714284,
 0.7142857142857143,
 1.7142857142857142,
 0.5714285714285714,
 0.0,
 0.14285714285714285,
 0.5714285714285714,
 0.0,
 0.0,
 0.42857142857142855,
 0.2857142857142857,
 0.14285714285714285,
 0.14285714285714285,
 0.5]

In [4]:
len(month)

8

In [5]:
month=defense[1]
month
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
양의지
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat4=[]
for i in range(0,15):
    if i ==0:
        stat4.append(양의지[i])
    elif i==14:
        stat4.append(양의지[i])
    else:
        stat4.append(양의지[i]/(len(month)-1))
stat4

[0.371,
 3.0434782608695654,
 0.6521739130434783,
 1.1304347826086956,
 0.2608695652173913,
 0.0,
 0.13043478260869565,
 0.5652173913043478,
 0.13043478260869565,
 0.0,
 0.34782608695652173,
 0.13043478260869565,
 0.391304347826087,
 0.0,
 0.40399999999999997]

In [6]:
month=defense[2]
month
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
양의지
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat5=[]
for i in range(0,15):
    if i ==0:
        stat5.append(양의지[i])
    elif i==14:
        stat5.append(양의지[i])
    else:
        stat5.append(양의지[i]/(len(month)-1))
stat5

[0.381,
 3.8181818181818183,
 0.7727272727272727,
 1.4545454545454546,
 0.22727272727272727,
 0.0,
 0.22727272727272727,
 0.7272727272727273,
 0.0,
 0.0,
 0.18181818181818182,
 0.045454545454545456,
 0.4090909090909091,
 0.045454545454545456,
 0.39299999999999996]

In [7]:
month=defense[3]
month
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
양의지
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat6=[]
for i in range(0,15):
    if i ==0:
        stat6.append(양의지[i])
    elif i==14:
        stat6.append(양의지[i])
    else:
        stat6.append(양의지[i]/(len(month)-1))
stat6

[0.346,
 3.375,
 0.7083333333333334,
 1.1666666666666667,
 0.20833333333333334,
 0.041666666666666664,
 0.3333333333333333,
 0.7916666666666666,
 0.0,
 0.0,
 0.5,
 0.041666666666666664,
 0.125,
 0.20833333333333334,
 0.37799999999999995]

In [8]:
month=defense[4]
month
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
양의지
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat7=[]
for i in range(0,15):
    if i ==0:
        stat7.append(양의지[i])
    elif i==14:
        stat7.append(양의지[i])
    else:
        stat7.append(양의지[i]/(len(month)-1))
stat7

[0.385,
 3.0952380952380953,
 0.47619047619047616,
 1.1904761904761905,
 0.19047619047619047,
 0.0,
 0.14285714285714285,
 0.5714285714285714,
 0.047619047619047616,
 0.0,
 0.23809523809523808,
 0.047619047619047616,
 0.23809523809523808,
 0.19047619047619047,
 0.38]

In [9]:
month=defense[5]
month
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
양의지
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat8=[]
for i in range(0,15):
    if i ==0:
        stat8.append(양의지[i])
    elif i==14:
        stat8.append(양의지[i])
    else:
        stat8.append(양의지[i]/(len(month)-1))
stat8

[0.243,
 3.0833333333333335,
 0.5,
 0.75,
 0.16666666666666666,
 0.0,
 0.0,
 0.16666666666666666,
 0.16666666666666666,
 0.0,
 0.3333333333333333,
 0.08333333333333333,
 0.25,
 0.0,
 0.366]

In [10]:
month=defense[6]
month
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
양의지
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat9=[]
for i in range(0,15):
    if i ==0:
        stat9.append(양의지[i])
    elif i==14:
        stat9.append(양의지[i])
    else:
        stat9.append(양의지[i]/(len(month)-1))
stat9

[0.281,
 3.1666666666666665,
 0.7222222222222222,
 0.8888888888888888,
 0.16666666666666666,
 0.0,
 0.1111111111111111,
 0.4444444444444444,
 0.0,
 0.0,
 0.3888888888888889,
 0.2222222222222222,
 0.3333333333333333,
 0.1111111111111111,
 0.354]

In [11]:
month=defense[7]
month
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
양의지
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat10=[]
for i in range(0,15):
    if i ==0:
        stat10.append(양의지[i])
    elif i==14:
        stat10.append(양의지[i])
    else:
        stat10.append(양의지[i]/(len(month)-1))
stat10

[0.429,
 3.5,
 0.16666666666666666,
 1.5,
 0.0,
 0.0,
 0.16666666666666666,
 0.5,
 0.0,
 0.0,
 0.3333333333333333,
 0.0,
 0.6666666666666666,
 0.0,
 0.358]

In [12]:
df=pd.DataFrame([stat3,stat4,stat5,stat6,stat7,stat8,stat9,stat10])
df.columns=['AVG1','AB','R','H','2B','3B','HR','RBI','SB','CS','BB','HBP','SO','GDP','AVG2']
df['월']=['2018-3-31','2018-4-30','2018-5-31','2018-6-30','2018-7-31','2018-8-31','2018-9-30','2018-10-31']
df['선수']='양의지'
df1=df
df1

,AVG1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,AVG2,월,선수
0,0.500,3.428571,0.714286,1.714286,0.571429,0.000000,0.142857,0.571429,0.000000,0.0,0.428571,0.285714,0.142857,0.142857,0.500,2018-3-31,양의지
1,0.371,3.043478,0.652174,1.130435,0.260870,0.000000,0.130435,0.565217,0.130435,0.0,0.347826,0.130435,0.391304,0.000000,0.404,2018-4-30,양의지
2,0.381,3.818182,0.772727,1.454545,0.227273,0.000000,0.227273,0.727273,0.000000,0.0,0.181818,0.045455,0.409091,0.045455,0.393,2018-5-31,양의지
3,0.346,3.375000,0.708333,1.166667,0.208333,0.041667,0.333333,0.791667,0.000000,0.0,0.500000,0.041667,0.125000,0.208333,0.378,2018-6-30,양의지
4,0.385,3.095238,0.476190,1.190476,0.190476,0.000000,0.142857,0.571429,0.047619,0.0,0.238095,0.047619,0.238095,0.190476,0.380,2018-7-31,양의지
5,0.243,3.083333,0.500000,0.750000,0.166667,0.000000,0.000000,0.166667,0.166667,0.0,0.333333,0.083333,0.250000,0.000000,0.366,2018-8-31,양의지
6,0.281,3.166667,0.722222,0.888889,0.166667,0.000000,0.111111,0.444444,0.000000,0.0,0.388889,0.222222,0.333333,0.111111,0.354,2018-9-30,양의지
7,0.429,3.500000,0.166667,1.500000,0.000000,0.000000,0.166667,0.500000,0.000000,0.0,0.333333,0.000000,0.666667,0.000000,0.358,2018-10-31,양의지

In [13]:
defense=pd.read_html('https://www.koreabaseball.com/Record/Player/HitterDetail/Daily.aspx?playerId=75125')
month=defense[0]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat3=[]
for i in range(0,15):
    if i ==0:
        stat3.append(양의지[i])
    elif i==14:
        stat3.append(양의지[i])
    else:
        stat3.append(양의지[i]/(len(month)-1))

month=defense[1]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat4=[]
for i in range(0,15):
    if i ==0:
        stat4.append(양의지[i])
    elif i==14:
        stat4.append(양의지[i])
    else:
        stat4.append(양의지[i]/(len(month)-1))

month=defense[2]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat5=[]
for i in range(0,15):
    if i ==0:
        stat5.append(양의지[i])
    elif i==14:
        stat5.append(양의지[i])
    else:
        stat5.append(양의지[i]/(len(month)-1))
        
month=defense[3]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat6=[]
for i in range(0,15):
    if i ==0:
        stat6.append(양의지[i])
    elif i==14:
        stat6.append(양의지[i])
    else:
        stat6.append(양의지[i]/(len(month)-1))

month=defense[4]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat7=[]
for i in range(0,15):
    if i ==0:
        stat7.append(양의지[i])
    elif i==14:
        stat7.append(양의지[i])
    else:
        stat7.append(양의지[i]/(len(month)-1))

month=defense[5]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat8=[]
for i in range(0,15):
    if i ==0:
        stat8.append(양의지[i])
    elif i==14:
        stat8.append(양의지[i])
    else:
        stat8.append(양의지[i]/(len(month)-1))
        
month=defense[6]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat9=[]
for i in range(0,15):
    if i ==0:
        stat9.append(양의지[i])
    elif i==14:
        stat9.append(양의지[i])
    else:
        stat9.append(양의지[i]/(len(month)-1))
        
month=defense[7]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat10=[]
for i in range(0,15):
    if i ==0:
        stat10.append(양의지[i])
    elif i==14:
        stat10.append(양의지[i])
    else:
        stat10.append(양의지[i]/(len(month)-1))

df=pd.DataFrame([stat3,stat4,stat5,stat6,stat7,stat8,stat9,stat10])
df.columns=['AVG1','AB','R','H','2B','3B','HR','RBI','SB','CS','BB','HBP','SO','GDP','AVG2']
df['월']=['2018-3-31','2018-4-30','2018-5-31','2018-6-30','2018-7-31','2018-8-31','2018-9-30','2018-10-31']
df['선수']='박병호'
df2=df
df2

,AVG1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,AVG2,월,선수
0,0.435,3.285714,0.857143,1.428571,0.000000,0.0,0.428571,1.142857,0.0,0.142857,1.285714,0.428571,0.714286,0.142857,0.435,2018-3-31,박병호
1,0.194,3.272727,0.272727,0.636364,0.090909,0.0,0.090909,0.454545,0.0,0.000000,0.727273,0.000000,1.000000,0.000000,0.288,2018-4-30,박병호
2,0.364,2.200000,0.600000,0.800000,0.000000,0.0,0.500000,0.900000,0.0,0.000000,0.700000,0.200000,0.400000,0.000000,0.309,2018-5-31,박병호
3,0.383,3.760000,0.840000,1.440000,0.160000,0.0,0.320000,1.120000,0.0,0.000000,0.560000,0.080000,1.040000,0.120000,0.349,2018-6-30,박병호
4,0.291,3.909091,0.681818,1.136364,0.318182,0.0,0.409091,0.909091,0.0,0.000000,0.363636,0.090909,1.136364,0.045455,0.330,2018-7-31,박병호
5,0.400,3.846154,0.846154,1.538462,0.153846,0.0,0.538462,1.615385,0.0,0.000000,0.692308,0.076923,1.076923,0.153846,0.341,2018-8-31,박병호
6,0.346,3.545455,1.000000,1.227273,0.272727,0.0,0.363636,0.818182,0.0,0.000000,0.454545,0.318182,1.136364,0.090909,0.342,2018-9-30,박병호
7,0.455,3.666667,1.333333,1.666667,0.000000,0.0,0.666667,1.000000,0.0,0.000000,1.000000,0.000000,1.333333,0.000000,0.345,2018-10-31,박병호

In [14]:
defense=pd.read_html('https://www.koreabaseball.com/Record/Player/HitterDetail/Daily.aspx?playerId=67598')
month=defense[0]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat3=[]
for i in range(0,15):
    if i ==0:
        stat3.append(양의지[i])
    elif i==14:
        stat3.append(양의지[i])
    else:
        stat3.append(양의지[i]/(len(month)-1))

month=defense[1]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat4=[]
for i in range(0,15):
    if i ==0:
        stat4.append(양의지[i])
    elif i==14:
        stat4.append(양의지[i])
    else:
        stat4.append(양의지[i]/(len(month)-1))

month=defense[2]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat5=[]
for i in range(0,15):
    if i ==0:
        stat5.append(양의지[i])
    elif i==14:
        stat5.append(양의지[i])
    else:
        stat5.append(양의지[i]/(len(month)-1))
        
month=defense[3]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat6=[]
for i in range(0,15):
    if i ==0:
        stat6.append(양의지[i])
    elif i==14:
        stat6.append(양의지[i])
    else:
        stat6.append(양의지[i]/(len(month)-1))

month=defense[4]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat7=[]
for i in range(0,15):
    if i ==0:
        stat7.append(양의지[i])
    elif i==14:
        stat7.append(양의지[i])
    else:
        stat7.append(양의지[i]/(len(month)-1))

month=defense[5]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat8=[]
for i in range(0,15):
    if i ==0:
        stat8.append(양의지[i])
    elif i==14:
        stat8.append(양의지[i])
    else:
        stat8.append(양의지[i]/(len(month)-1))
        
month=defense[6]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat9=[]
for i in range(0,15):
    if i ==0:
        stat9.append(양의지[i])
    elif i==14:
        stat9.append(양의지[i])
    else:
        stat9.append(양의지[i]/(len(month)-1))
        
month=defense[7]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat10=[]
for i in range(0,15):
    if i ==0:
        stat10.append(양의지[i])
    elif i==14:
        stat10.append(양의지[i])
    else:
        stat10.append(양의지[i]/(len(month)-1))

df=pd.DataFrame([stat3,stat4,stat5,stat6,stat7,stat8,stat9,stat10])
df.columns=['AVG1','AB','R','H','2B','3B','HR','RBI','SB','CS','BB','HBP','SO','GDP','AVG2']
df['월']=['2018-3-31','2018-4-30','2018-5-31','2018-6-30','2018-7-31','2018-8-31','2018-9-30','2018-10-31']
df['선수']='번즈'
df3=df
df3

,AVG1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,AVG2,월,선수
0,0.208,3.428571,0.142857,0.714286,0.428571,0.000000,0.000000,0.142857,0.000000,0.000000,0.285714,0.000000,1.285714,0.142857,0.208,2018-3-31,번즈
1,0.245,4.076923,0.384615,1.000000,0.230769,0.000000,0.153846,0.384615,0.000000,0.000000,0.076923,0.076923,1.153846,0.076923,0.234,2018-4-30,번즈
2,0.244,3.250000,0.583333,0.791667,0.166667,0.125000,0.125000,0.375000,0.000000,0.000000,0.208333,0.041667,1.000000,0.041667,0.239,2018-5-31,번즈
3,0.385,3.840000,1.080000,1.480000,0.240000,0.000000,0.480000,1.120000,0.000000,0.000000,0.360000,0.040000,0.960000,0.040000,0.295,2018-6-30,번즈
4,0.301,3.476190,0.809524,1.047619,0.428571,0.095238,0.095238,0.333333,0.047619,0.000000,0.428571,0.047619,1.142857,0.000000,0.296,2018-7-31,번즈
5,0.238,3.818182,0.545455,0.909091,0.272727,0.000000,0.181818,0.727273,0.272727,0.090909,0.272727,0.090909,0.727273,0.090909,0.290,2018-8-31,번즈
6,0.186,3.181818,0.318182,0.590909,0.181818,0.000000,0.090909,0.272727,0.045455,0.045455,0.136364,0.181818,1.000000,0.136364,0.273,2018-9-30,번즈
7,0.192,2.600000,0.300000,0.500000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.700000,0.000000,0.268,2018-10-31,번즈

In [15]:
defense=pd.read_html('https://www.koreabaseball.com/Record/Player/HitterDetail/Daily.aspx?playerId=64300')
month=defense[0]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat3=[]
for i in range(0,15):
    if i ==0:
        stat3.append(양의지[i])
    elif i==14:
        stat3.append(양의지[i])
    else:
        stat3.append(양의지[i]/(len(month)-1))

month=defense[1]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat4=[]
for i in range(0,15):
    if i ==0:
        stat4.append(양의지[i])
    elif i==14:
        stat4.append(양의지[i])
    else:
        stat4.append(양의지[i]/(len(month)-1))

month=defense[2]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat5=[]
for i in range(0,15):
    if i ==0:
        stat5.append(양의지[i])
    elif i==14:
        stat5.append(양의지[i])
    else:
        stat5.append(양의지[i]/(len(month)-1))
        
month=defense[3]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat6=[]
for i in range(0,15):
    if i ==0:
        stat6.append(양의지[i])
    elif i==14:
        stat6.append(양의지[i])
    else:
        stat6.append(양의지[i]/(len(month)-1))

month=defense[4]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat7=[]
for i in range(0,15):
    if i ==0:
        stat7.append(양의지[i])
    elif i==14:
        stat7.append(양의지[i])
    else:
        stat7.append(양의지[i]/(len(month)-1))

month=defense[5]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat8=[]
for i in range(0,15):
    if i ==0:
        stat8.append(양의지[i])
    elif i==14:
        stat8.append(양의지[i])
    else:
        stat8.append(양의지[i]/(len(month)-1))
        
month=defense[6]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat9=[]
for i in range(0,15):
    if i ==0:
        stat9.append(양의지[i])
    elif i==14:
        stat9.append(양의지[i])
    else:
        stat9.append(양의지[i]/(len(month)-1))
        
month=defense[7]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat10=[]
for i in range(0,15):
    if i ==0:
        stat10.append(양의지[i])
    elif i==14:
        stat10.append(양의지[i])
    else:
        stat10.append(양의지[i]/(len(month)-1))

df=pd.DataFrame([stat3,stat4,stat5,stat6,stat7,stat8,stat9,stat10])
df.columns=['AVG1','AB','R','H','2B','3B','HR','RBI','SB','CS','BB','HBP','SO','GDP','AVG2']
df['월']=['2018-3-31','2018-4-30','2018-5-31','2018-6-30','2018-7-31','2018-8-31','2018-9-30','2018-10-31']
df['선수']='김하성'
df4=df
df4

,AVG1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,AVG2,월,선수
0,0.226,4.428571,0.428571,1.000000,0.142857,0.000000,0.142857,0.571429,0.000000,0.00,0.142857,0.142857,1.000000,0.142857,0.226,2018-3-31,김하성
1,0.309,3.880000,0.440000,1.200000,0.200000,0.080000,0.120000,0.520000,0.040000,0.08,0.280000,0.000000,0.640000,0.080000,0.289,2018-4-30,김하성
2,0.417,4.285714,1.142857,1.785714,0.214286,0.071429,0.357143,1.214286,0.142857,0.00,0.071429,0.000000,0.142857,0.000000,0.330,2018-5-31,김하성
3,0.378,4.083333,1.083333,1.541667,0.375000,0.000000,0.083333,0.541667,0.125000,0.00,0.625000,0.000000,0.541667,0.041667,0.346,2018-6-30,김하성
4,0.161,3.782609,0.565217,0.608696,0.173913,0.043478,0.130435,0.434783,0.000000,0.00,0.565217,0.086957,0.608696,0.260870,0.303,2018-7-31,김하성
5,0.302,3.909091,1.181818,1.181818,0.000000,0.000000,0.272727,1.000000,0.090909,0.00,0.636364,0.090909,0.454545,0.181818,0.303,2018-8-31,김하성
6,0.221,3.739130,0.521739,0.826087,0.217391,0.000000,0.130435,0.695652,0.043478,0.00,0.434783,0.043478,0.956522,0.173913,0.289,2018-9-30,김하성
7,0.222,4.500000,0.500000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,1.000000,0.000000,0.288,2018-10-31,김하성

In [16]:
defense=pd.read_html('https://www.koreabaseball.com/Record/Player/HitterDetail/Daily.aspx?playerId=75847')
month=defense[0]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat3=[]
for i in range(0,15):
    if i ==0:
        stat3.append(양의지[i])
    elif i==14:
        stat3.append(양의지[i])
    else:
        stat3.append(양의지[i]/(len(month)-1))

month=defense[1]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat4=[]
for i in range(0,15):
    if i ==0:
        stat4.append(양의지[i])
    elif i==14:
        stat4.append(양의지[i])
    else:
        stat4.append(양의지[i]/(len(month)-1))

month=defense[2]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat5=[]
for i in range(0,15):
    if i ==0:
        stat5.append(양의지[i])
    elif i==14:
        stat5.append(양의지[i])
    else:
        stat5.append(양의지[i]/(len(month)-1))
        
month=defense[3]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat6=[]
for i in range(0,15):
    if i ==0:
        stat6.append(양의지[i])
    elif i==14:
        stat6.append(양의지[i])
    else:
        stat6.append(양의지[i]/(len(month)-1))

month=defense[4]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat7=[]
for i in range(0,15):
    if i ==0:
        stat7.append(양의지[i])
    elif i==14:
        stat7.append(양의지[i])
    else:
        stat7.append(양의지[i]/(len(month)-1))

month=defense[5]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat8=[]
for i in range(0,15):
    if i ==0:
        stat8.append(양의지[i])
    elif i==14:
        stat8.append(양의지[i])
    else:
        stat8.append(양의지[i]/(len(month)-1))
        
month=defense[6]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat9=[]
for i in range(0,15):
    if i ==0:
        stat9.append(양의지[i])
    elif i==14:
        stat9.append(양의지[i])
    else:
        stat9.append(양의지[i]/(len(month)-1))
        
month=defense[7]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat10=[]
for i in range(0,15):
    if i ==0:
        stat10.append(양의지[i])
    elif i==14:
        stat10.append(양의지[i])
    else:
        stat10.append(양의지[i]/(len(month)-1))

df=pd.DataFrame([stat3,stat4,stat5,stat6,stat7,stat8,stat9,stat10])
df.columns=['AVG1','AB','R','H','2B','3B','HR','RBI','SB','CS','BB','HBP','SO','GDP','AVG2']
df['월']=['2018-3-31','2018-4-30','2018-5-31','2018-6-30','2018-7-31','2018-8-31','2018-9-30','2018-10-31']
df['선수']='최정'
df5=df
df5

,AVG1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,AVG2,월,선수
0,0.222,3.857143,0.857143,0.857143,0.285714,0.0000,0.142857,0.428571,0.428571,0.000000,0.571429,0.142857,1.428571,0.000000,0.222,2018-3-31,최정
1,0.279,3.909091,1.045455,1.090909,0.227273,0.0000,0.545455,1.227273,0.090909,0.000000,0.590909,0.181818,1.272727,0.090909,0.265,2018-4-30,최정
2,0.218,3.391304,0.565217,0.739130,0.043478,0.0000,0.217391,0.391304,0.043478,0.000000,0.347826,0.304348,1.086957,0.086957,0.246,2018-5-31,최정
3,0.267,3.333333,0.944444,0.888889,0.166667,0.0000,0.388889,0.555556,0.055556,0.000000,0.444444,0.222222,0.944444,0.111111,0.251,2018-6-30,최정
4,0.233,3.750000,0.750000,0.875000,0.187500,0.0625,0.375000,0.625000,0.062500,0.062500,0.437500,0.187500,1.312500,0.000000,0.248,2018-7-31,최정
5,0.000,3.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.500000,0.000000,0.243,2018-8-31,최정
6,0.212,3.300000,0.750000,0.700000,0.100000,0.0000,0.100000,0.500000,0.000000,0.000000,0.500000,0.200000,0.900000,0.200000,0.238,2018-9-30,최정
7,0.348,3.285714,1.285714,1.142857,0.000000,0.0000,0.285714,0.714286,0.142857,0.142857,1.142857,0.000000,1.000000,0.000000,0.244,2018-10-31,최정

In [17]:
defense=pd.read_html('https://www.koreabaseball.com/Record/Player/HitterDetail/Daily.aspx?playerId=62895')
month=defense[0]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat3=[]
for i in range(0,15):
    if i ==0:
        stat3.append(양의지[i])
    elif i==14:
        stat3.append(양의지[i])
    else:
        stat3.append(양의지[i]/(len(month)-1))

month=defense[1]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat4=[]
for i in range(0,15):
    if i ==0:
        stat4.append(양의지[i])
    elif i==14:
        stat4.append(양의지[i])
    else:
        stat4.append(양의지[i]/(len(month)-1))

month=defense[2]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat5=[]
for i in range(0,15):
    if i ==0:
        stat5.append(양의지[i])
    elif i==14:
        stat5.append(양의지[i])
    else:
        stat5.append(양의지[i]/(len(month)-1))
        
month=defense[3]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat6=[]
for i in range(0,15):
    if i ==0:
        stat6.append(양의지[i])
    elif i==14:
        stat6.append(양의지[i])
    else:
        stat6.append(양의지[i]/(len(month)-1))

month=defense[4]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat7=[]
for i in range(0,15):
    if i ==0:
        stat7.append(양의지[i])
    elif i==14:
        stat7.append(양의지[i])
    else:
        stat7.append(양의지[i]/(len(month)-1))

month=defense[5]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat8=[]
for i in range(0,15):
    if i ==0:
        stat8.append(양의지[i])
    elif i==14:
        stat8.append(양의지[i])
    else:
        stat8.append(양의지[i]/(len(month)-1))
        
month=defense[6]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat9=[]
for i in range(0,15):
    if i ==0:
        stat9.append(양의지[i])
    elif i==14:
        stat9.append(양의지[i])
    else:
        stat9.append(양의지[i]/(len(month)-1))
        
month=defense[7]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat10=[]
for i in range(0,15):
    if i ==0:
        stat10.append(양의지[i])
    elif i==14:
        stat10.append(양의지[i])
    else:
        stat10.append(양의지[i]/(len(month)-1))

df=pd.DataFrame([stat3,stat4,stat5,stat6,stat7,stat8,stat9,stat10])
df.columns=['AVG1','AB','R','H','2B','3B','HR','RBI','SB','CS','BB','HBP','SO','GDP','AVG2']
df['월']=['2018-3-31','2018-4-30','2018-5-31','2018-6-30','2018-7-31','2018-8-31','2018-9-30','2018-10-31']
df['선수']='한동민'
df6=df
df6

,AVG1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,AVG2,월,선수
0,0.308,3.714286,0.857143,1.142857,0.285714,0.0,0.285714,0.428571,0.000000,0.000000,0.571429,0.000000,1.000000,0.000000,0.308,2018-3-31,한동민
1,0.254,3.315789,0.789474,0.842105,0.210526,0.0,0.263158,0.736842,0.105263,0.000000,0.684211,0.000000,0.894737,0.105263,0.270,2018-4-30,한동민
2,0.195,3.954545,0.590909,0.772727,0.136364,0.0,0.272727,0.681818,0.000000,0.045455,0.363636,0.090909,0.863636,0.227273,0.233,2018-5-31,한동민
3,0.276,3.454545,0.727273,0.954545,0.227273,0.0,0.409091,1.181818,0.045455,0.000000,0.454545,0.227273,1.136364,0.000000,0.246,2018-6-30,한동민
4,0.333,3.428571,0.571429,1.142857,0.428571,0.0,0.142857,0.809524,0.000000,0.000000,0.285714,0.000000,0.714286,0.047619,0.265,2018-7-31,한동민
5,0.333,3.230769,0.846154,1.076923,0.230769,0.0,0.230769,0.923077,0.000000,0.000000,0.307692,0.307692,0.692308,0.076923,0.273,2018-8-31,한동민
6,0.340,3.916667,0.791667,1.333333,0.208333,0.0,0.500000,1.083333,0.041667,0.041667,0.166667,0.041667,1.000000,0.041667,0.287,2018-9-30,한동민
7,0.231,3.250000,0.625000,0.750000,0.000000,0.0,0.125000,0.250000,0.000000,0.000000,0.375000,0.500000,1.000000,0.000000,0.284,2018-10-31,한동민

In [18]:
defense=pd.read_html('https://www.koreabaseball.com/Record/Player/HitterDetail/Daily.aspx?playerId=67025')
month=defense[0]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat3=[]
for i in range(0,15):
    if i ==0:
        stat3.append(양의지[i])
    elif i==14:
        stat3.append(양의지[i])
    else:
        stat3.append(양의지[i]/(len(month)-1))

month=defense[1]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat4=[]
for i in range(0,15):
    if i ==0:
        stat4.append(양의지[i])
    elif i==14:
        stat4.append(양의지[i])
    else:
        stat4.append(양의지[i]/(len(month)-1))

month=defense[2]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat5=[]
for i in range(0,15):
    if i ==0:
        stat5.append(양의지[i])
    elif i==14:
        stat5.append(양의지[i])
    else:
        stat5.append(양의지[i]/(len(month)-1))
        
month=defense[3]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat6=[]
for i in range(0,15):
    if i ==0:
        stat6.append(양의지[i])
    elif i==14:
        stat6.append(양의지[i])
    else:
        stat6.append(양의지[i]/(len(month)-1))

month=defense[4]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat7=[]
for i in range(0,15):
    if i ==0:
        stat7.append(양의지[i])
    elif i==14:
        stat7.append(양의지[i])
    else:
        stat7.append(양의지[i]/(len(month)-1))

month=defense[5]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat8=[]
for i in range(0,15):
    if i ==0:
        stat8.append(양의지[i])
    elif i==14:
        stat8.append(양의지[i])
    else:
        stat8.append(양의지[i]/(len(month)-1))
        
month=defense[6]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat9=[]
for i in range(0,15):
    if i ==0:
        stat9.append(양의지[i])
    elif i==14:
        stat9.append(양의지[i])
    else:
        stat9.append(양의지[i]/(len(month)-1))
        
month=defense[7]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat10=[]
for i in range(0,15):
    if i ==0:
        stat10.append(양의지[i])
    elif i==14:
        stat10.append(양의지[i])
    else:
        stat10.append(양의지[i]/(len(month)-1))

df=pd.DataFrame([stat3,stat4,stat5,stat6,stat7,stat8,stat9,stat10])
df.columns=['AVG1','AB','R','H','2B','3B','HR','RBI','SB','CS','BB','HBP','SO','GDP','AVG2']
df['월']=['2018-3-31','2018-4-30','2018-5-31','2018-6-30','2018-7-31','2018-8-31','2018-9-30','2018-10-31']
df['선수']='로하스'
df7=df
df7

,AVG1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,AVG2,월,선수
0,0.355,4.428571,0.571429,1.571429,0.142857,0.000000,0.428571,1.000000,0.285714,0.000000,0.142857,0.000000,0.714286,0.000000,0.355,2018-3-31,로하스
1,0.216,4.041667,0.625000,0.875000,0.250000,0.000000,0.250000,0.708333,0.083333,0.041667,0.500000,0.000000,1.208333,0.125000,0.250,2018-4-30,로하스
2,0.347,4.208333,0.750000,1.458333,0.375000,0.041667,0.250000,0.791667,0.041667,0.125000,0.250000,0.125000,0.916667,0.125000,0.293,2018-5-31,로하스
3,0.239,3.666667,0.500000,0.875000,0.208333,0.000000,0.166667,0.458333,0.125000,0.125000,0.500000,0.041667,1.000000,0.125000,0.278,2018-6-30,로하스
4,0.434,3.952381,1.190476,1.714286,0.190476,0.000000,0.428571,1.047619,0.285714,0.142857,0.476190,0.047619,0.809524,0.000000,0.310,2018-7-31,로하스
5,0.326,3.307692,1.076923,1.076923,0.153846,0.000000,0.384615,0.846154,0.230769,0.076923,0.923077,0.076923,0.769231,0.076923,0.312,2018-8-31,로하스
6,0.295,3.826087,0.913043,1.130435,0.043478,0.000000,0.347826,1.043478,0.000000,0.043478,0.652174,0.000000,1.173913,0.000000,0.309,2018-9-30,로하스
7,0.242,4.125000,0.625000,1.000000,0.250000,0.000000,0.250000,0.375000,0.125000,0.125000,0.375000,0.125000,1.000000,0.000000,0.305,2018-10-31,로하스

In [19]:
defense=pd.read_html('https://www.koreabaseball.com/Record/Player/HitterDetail/Daily.aspx?playerId=78224')
month=defense[0]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat3=[]
for i in range(0,15):
    if i ==0:
        stat3.append(양의지[i])
    elif i==14:
        stat3.append(양의지[i])
    else:
        stat3.append(양의지[i]/(len(month)-1))

month=defense[1]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat4=[]
for i in range(0,15):
    if i ==0:
        stat4.append(양의지[i])
    elif i==14:
        stat4.append(양의지[i])
    else:
        stat4.append(양의지[i]/(len(month)-1))

month=defense[2]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat5=[]
for i in range(0,15):
    if i ==0:
        stat5.append(양의지[i])
    elif i==14:
        stat5.append(양의지[i])
    else:
        stat5.append(양의지[i]/(len(month)-1))
        
month=defense[3]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat6=[]
for i in range(0,15):
    if i ==0:
        stat6.append(양의지[i])
    elif i==14:
        stat6.append(양의지[i])
    else:
        stat6.append(양의지[i]/(len(month)-1))

month=defense[4]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat7=[]
for i in range(0,15):
    if i ==0:
        stat7.append(양의지[i])
    elif i==14:
        stat7.append(양의지[i])
    else:
        stat7.append(양의지[i]/(len(month)-1))

month=defense[5]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat8=[]
for i in range(0,15):
    if i ==0:
        stat8.append(양의지[i])
    elif i==14:
        stat8.append(양의지[i])
    else:
        stat8.append(양의지[i]/(len(month)-1))
        
month=defense[6]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat9=[]
for i in range(0,15):
    if i ==0:
        stat9.append(양의지[i])
    elif i==14:
        stat9.append(양의지[i])
    else:
        stat9.append(양의지[i]/(len(month)-1))
        
month=defense[7]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat10=[]
for i in range(0,15):
    if i ==0:
        stat10.append(양의지[i])
    elif i==14:
        stat10.append(양의지[i])
    else:
        stat10.append(양의지[i]/(len(month)-1))

df=pd.DataFrame([stat3,stat4,stat5,stat6,stat7,stat8,stat9,stat10])
df.columns=['AVG1','AB','R','H','2B','3B','HR','RBI','SB','CS','BB','HBP','SO','GDP','AVG2']
df['월']=['2018-3-31','2018-4-30','2018-5-31','2018-6-30','2018-7-31','2018-8-31','2018-9-30','2018-10-31']
df['선수']='김재환'
df8=df
df8

,AVG1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,AVG2,월,선수
0,0.200,3.571429,0.714286,0.714286,0.000000,0.000000,0.285714,1.000000,0.000000,0.0,0.142857,0.285714,1.571429,0.000000,0.200,2018-3-31,김재환
1,0.286,3.500000,0.681818,1.000000,0.227273,0.000000,0.272727,0.681818,0.045455,0.0,0.818182,0.000000,0.772727,0.090909,0.265,2018-4-30,김재환
2,0.297,3.956522,0.695652,1.173913,0.478261,0.043478,0.173913,0.826087,0.000000,0.0,0.260870,0.043478,1.130435,0.043478,0.280,2018-5-31,김재환
3,0.430,4.115385,1.000000,1.769231,0.230769,0.000000,0.538462,1.384615,0.000000,0.0,0.307692,0.038462,0.769231,0.038462,0.333,2018-6-30,김재환
4,0.402,3.904762,0.714286,1.571429,0.333333,0.000000,0.285714,0.809524,0.047619,0.0,0.523810,0.047619,0.857143,0.000000,0.348,2018-7-31,김재환
5,0.267,3.750000,0.333333,1.000000,0.250000,0.000000,0.083333,0.416667,0.000000,0.0,0.333333,0.083333,1.166667,0.000000,0.340,2018-8-31,김재환
6,0.383,3.521739,0.956522,1.347826,0.173913,0.000000,0.478261,1.478261,0.000000,0.0,0.434783,0.086957,0.913043,0.043478,0.346,2018-9-30,김재환
7,0.000,3.800000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.200000,0.200000,1.400000,0.200000,0.334,2018-10-31,김재환

In [20]:
defense=pd.read_html('https://www.koreabaseball.com/Record/Player/HitterDetail/Daily.aspx?playerId=76267')
month=defense[0]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat3=[]
for i in range(0,15):
    if i ==0:
        stat3.append(양의지[i])
    elif i==14:
        stat3.append(양의지[i])
    else:
        stat3.append(양의지[i]/(len(month)-1))

month=defense[1]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat4=[]
for i in range(0,15):
    if i ==0:
        stat4.append(양의지[i])
    elif i==14:
        stat4.append(양의지[i])
    else:
        stat4.append(양의지[i]/(len(month)-1))

month=defense[2]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat5=[]
for i in range(0,15):
    if i ==0:
        stat5.append(양의지[i])
    elif i==14:
        stat5.append(양의지[i])
    else:
        stat5.append(양의지[i]/(len(month)-1))
        
month=defense[3]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat6=[]
for i in range(0,15):
    if i ==0:
        stat6.append(양의지[i])
    elif i==14:
        stat6.append(양의지[i])
    else:
        stat6.append(양의지[i]/(len(month)-1))

month=defense[4]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat7=[]
for i in range(0,15):
    if i ==0:
        stat7.append(양의지[i])
    elif i==14:
        stat7.append(양의지[i])
    else:
        stat7.append(양의지[i]/(len(month)-1))

month=defense[5]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat8=[]
for i in range(0,15):
    if i ==0:
        stat8.append(양의지[i])
    elif i==14:
        stat8.append(양의지[i])
    else:
        stat8.append(양의지[i]/(len(month)-1))
        
month=defense[6]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat9=[]
for i in range(0,15):
    if i ==0:
        stat9.append(양의지[i])
    elif i==14:
        stat9.append(양의지[i])
    else:
        stat9.append(양의지[i]/(len(month)-1))
        
month=defense[7]
양의지=month.iloc[len(month)-1][1:]
양의지=양의지.drop('AVG2')
for i in range(0,15):
    양의지[i]=float(양의지[i])
stat10=[]
for i in range(0,15):
    if i ==0:
        stat10.append(양의지[i])
    elif i==14:
        stat10.append(양의지[i])
    else:
        stat10.append(양의지[i]/(len(month)-1))

df=pd.DataFrame([stat3,stat4,stat5,stat6,stat7,stat8,stat9,stat10])
df.columns=['AVG1','AB','R','H','2B','3B','HR','RBI','SB','CS','BB','HBP','SO','GDP','AVG2']
df['월']=['2018-3-31','2018-4-30','2018-5-31','2018-6-30','2018-7-31','2018-8-31','2018-9-30','2018-10-31']
df['선수']='최주환'
df9=df
df9

,AVG1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,AVG2,월,선수
0,0.286,4.000000,0.714286,1.142857,0.142857,0.142857,0.000000,0.857143,0.000000,0.0,0.428571,0.142857,0.285714,0.285714,0.286,2018-3-31,최주환
1,0.293,3.727273,0.409091,1.090909,0.409091,0.136364,0.136364,1.045455,0.000000,0.0,0.227273,0.136364,0.681818,0.000000,0.291,2018-4-30,최주환
2,0.344,4.043478,0.869565,1.391304,0.347826,0.086957,0.217391,0.782609,0.043478,0.0,0.260870,0.043478,0.739130,0.000000,0.315,2018-5-31,최주환
3,0.352,3.791667,0.750000,1.333333,0.250000,0.000000,0.166667,0.666667,0.000000,0.0,0.500000,0.000000,0.625000,0.041667,0.327,2018-6-30,최주환
4,0.289,3.619048,0.523810,1.047619,0.047619,0.000000,0.238095,0.619048,0.000000,0.0,0.333333,0.000000,0.619048,0.000000,0.319,2018-7-31,최주환
5,0.368,3.166667,0.416667,1.166667,0.333333,0.000000,0.166667,0.666667,0.000000,0.0,0.833333,0.166667,0.500000,0.083333,0.324,2018-8-31,최주환
6,0.364,3.826087,0.739130,1.391304,0.434783,0.000000,0.304348,1.000000,0.000000,0.0,0.260870,0.086957,0.826087,0.000000,0.331,2018-9-30,최주환
7,0.391,3.833333,0.333333,1.500000,0.000000,0.000000,0.000000,0.166667,0.000000,0.0,0.333333,0.166667,0.333333,0.166667,0.333,2018-10-31,최주환

In [21]:
df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9],ignore_index=True)
df

,AVG1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,AVG2,월,선수
0,0.500,3.428571,0.714286,1.714286,0.571429,0.000000,0.142857,0.571429,0.000000,0.000000,0.428571,0.285714,0.142857,0.142857,0.500,2018-3-31,양의지
1,0.371,3.043478,0.652174,1.130435,0.260870,0.000000,0.130435,0.565217,0.130435,0.000000,0.347826,0.130435,0.391304,0.000000,0.404,2018-4-30,양의지
2,0.381,3.818182,0.772727,1.454545,0.227273,0.000000,0.227273,0.727273,0.000000,0.000000,0.181818,0.045455,0.409091,0.045455,0.393,2018-5-31,양의지
3,0.346,3.375000,0.708333,1.166667,0.208333,0.041667,0.333333,0.791667,0.000000,0.000000,0.500000,0.041667,0.125000,0.208333,0.378,2018-6-30,양의지
4,0.385,3.095238,0.476190,1.190476,0.190476,0.000000,0.142857,0.571429,0.047619,0.000000,0.238095,0.047619,0.238095,0.190476,0.380,2018-7-31,양의지
5,0.243,3.083333,0.500000,0.750000,0.166667,0.000000,0.000000,0.166667,0.166667,0.000000,0.333333,0.083333,0.250000,0.000000,0.366,2018-8-31,양의지
6,0.281,3.166667,0.722222,0.888889,0.166667,0.000000,0.111111,0.444444,0.000000,0.000000,0.388889,0.222222,0.333333,0.111111,0.354,2018-9-30,양의지
7,0.429,3.500000,0.166667,1.500000,0.000000,0.000000,0.166667,0.500000,0.000000,0.000000,0.333333,0.000000,0.666667,0.000000,0.358,2018-10-31,양의지
8,0.435,3.285714,0.857143,1.428571,0.000000,0.000000,0.428571,1.142857,0.000000,0.142857,1.285714,0.428571,0.714286,0.142857,0.435,2018-3-31,박병호
9,0.194,3.272727,0.272727,0.636364,0.090909,0.000000,0.090909,0.454545,0.000000,0.000000,0.727273,0.000000,1.000000,0.000000,0.288,2018-4-30,박병호
10,0.364,2.200000,0.600000,0.800000,0.000000,0.000000,0.500000,0.900000,0.000000,0.000000,0.700000,0.200000,0.400000,0.000000,0.309,2018-5-31,박병호
11,0.383,3.760000,0.840000,1.440000,0.160000,0.000000,0.320000,1.120000,0.000000,0.000000,0.560000,0.080000,1.040000,0.120000,0.349,2018-6-30,박병호
12,0.291,3.909091,0.681818,1.136364,0.318182,0.000000,0.409091,0.909091,0.000000,0.000000,0.363636,0.090909,1.136364,0.045455,0.330,2018-7-31,박병호
13,0.400,3.846154,0.846154,1.538462,0.153846,0.000000,0.538462,1.615385,0.000000,0.000000,0.692308,0.076923,1.076923,0.153846,0.341,2018-8-31,박병호
14,0.346,3.545455,1.000000,1.227273,0.272727,0.000000,0.363636,0.818182,0.000000,0.000000,0.454545,0.318182,1.136364,0.090909,0.342,2018-9-30,박병호
15,0.455,3.666667,1.333333,1.666667,0.000000,0.000000,0.666667,1.000000,0.000000,0.000000,1.000000,0.000000,1.333333,0.000000,0.345,2018-10-31,박병호
16,0.208,3.428571,0.142857,0.714286,0.428571,0.000000,0.000000,0.142857,0.000000,0.000000,0.285714,0.000000,1.285714,0.142857,0.208,2018-3-31,번즈
17,0.245,4.076923,0.384615,1.000000,0.230769,0.000000,0.153846,0.384615,0.000000,0.000000,0.076923,0.076923,1.153846,0.076923,0.234,2018-4-30,번즈
18,0.244,3.250000,0.583333,0.791667,0.166667,0.125000,0.125000,0.375000,0.000000,0.000000,0.208333,0.041667,1.000000,0.041667,0.239,2018-5-31,번즈
19,0.385,3.840000,1.080000,1.480000,0.240000,0.000000,0.480000,1.120000,0.000000,0.000000,0.360000,0.040000,0.960000,0.040000,0.295,2018-6-30,번즈
20,0.301,3.476190,0.809524,1.047619,0.428571,0.095238,0.095238,0.333333,0.047619,0.000000,0.428571,0.047619,1.142857,0.000000,0.296,2018-7-31,번즈
21,0.238,3.818182,0.545455,0.909091,0.272727,0.000000,0.181818,0.727273,0.272727,0.090909,0.272727,0.090909,0.727273,0.090909,0.290,2018-8-31,번즈
22,0.186,3.181818,0.318182,0.590909,0.181818,0.000000,0.090909,0.272727,0.045455,0.045455,0.136364,0.181818,1.000000,0.136364,0.273,2018-9-30,번즈
23,0.192,2.600000,0.300000,0.500000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.700000,0.000000,0.268,2018-10-31,번즈
24,0.226,4.428571,0.428571,1.000000,0.142857,0.000000,0.142857,0.571429,0.000000,0.000000,0.142857,0.142857,1.000000,0.142857,0.226,2018-3-31,김하성
25,0.309,3.880000,0.440000,1.200000,0.200000,0.080000,0.120000,0.520000,0.040000,0.080000,0.280000,0.000000,0.640000,0.080000,0.289,2018-4-30,김하성
26,0.417,4.285714,1.142857,1.785714,0.214286,0.071429,0.357143,1.214286,0.142857,0.000000,0.071429,0.000000,0.142857,0.000000,0.330,2018-5-31,김하성
27,0.378,4.083333,1.083333,1.541667,0.375000,0.000000,0.083333,0.541667,0.125000,0.000000,0.625000,0.000000,0.541667,0.041667,0.346,2018-6-30,김하성
28,0.161,3.782609,0.565217,0.608696,0.173913,0.043478,0.130435,0.434783,0.000000,0.000000,0.565217,0.086957,0.608696,0.260870,0.303,2018-7-31,김하성
29,0.302,3.909091,1.181818,1.181818,0.000000,0.000000,0.272727,1.000000,0.090909,0.000000,0.636364,0.090909,0.454545,0.181818,0.303,2018-8-31,김하성
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,0.195,3.954545,0.590909,0.772727,0.136364,0.000000,0.272727,0.681818,0.000000,0.045455,0.363636,0.090909,0.863636,0.227273,0.233,2018-5-31,한동민
43,0.276,3.454545,0.727273,0.954545,0.227273,0.000000,0.409091,1.181818,0.045455,0.000000,0.454545,0.227273,1.136364,0.000000,0.246,2018-6-30,한동민
44,0.333,3.428571,0.571429,1.142857,0.428571,0.000000,0.142857,0.809524,0.000000,0.000000,0.285714,0.000000,0.714286,0.047619,0.265,2018-7-31,한동민
45,0.333,3.230769,0.846154,1.076923,0.230769,0.000000,0.230769,0.923077,0.000000,0.000000,0.307692,0.307692,0.692308,0.076923,0.273,2018-8-31,한동민
46,0.340,3.916667,0.791667,1.333333,0.208333,0.000000,0.500000,1.083333,0.041667,0.041667,0.166667,0.041667,1.000000,0.041667,0.287,2018-9-30,한동민
47,0.231,3.250000,0.625000,0.750000,0.000000,0.000000,0.125000,0.250000,0.000000,0.000000,0.375000,0.500000,1.000000,0.000000,0.284,2018-10-31,한동민
48,0.355,4.428571,0.571429,1.571429,0.142857,0.000000,0.428571,1.000000,0.285714,0.000000,0.142857,0.000000,0.714286,0.000000,0.355,2018-3-31,로하스
49,0.216,4.041667,0.625000,0.875000,0.250000,0.000000,0.250000,0.708333,0.083333,0.041667,0.500000,0.000000,1.208333,0.125000,0.250,2018-4-30,로하스
50,0.347,4.208333,0.750000,1.458333,0.375000,0.041667,0.250000,0.791667,0.041667,0.125000,0.250000,0.125000,0.916667,0.125000,0.293,2018-5-31,로하스
51,0.239,3.666667,0.500000,0.875000,0.208333,0.000000,0.166667,0.458333,0.125000,0.125000,0.500000,0.041667,1.000000,0.125000,0.278,2018-6-30,로하스
52,0.434,3.952381,1.190476,1.714286,0.190476,0.000000,0.428571,1.047619,0.285714,0.142857,0.476190,0.047619,0.809524,0.000000,0.310,2018-7-31,로하스
53,0.326,3.307692,1.076923,1.076923,0.153846,0.000000,0.384615,0.846154,0.230769,0.076923,0.923077,0.076923,0.769231,0.076923,0.312,2018-8-31,로하스
54,0.295,3.826087,0.913043,1.130435,0.043478,0.000000,0.347826,1.043478,0.000000,0.043478,0.652174,0.000000,1.173913,0.000000,0.309,2018-9-30,로하스
55,0.242,4.125000,0.625000,1.000000,0.250000,0.000000,0.250000,0.375000,0.125000,0.125000,0.375000,0.125000,1.000000,0.000000,0.305,2018-10-31,로하스
56,0.200,3.571429,0.714286,0.714286,0.000000,0.000000,0.285714,1.000000,0.000000,0.000000,0.142857,0.285714,1.571429,0.000000,0.200,2018-3-31,김재환
57,0.286,3.500000,0.681818,1.000000,0.227273,0.000000,0.272727,0.681818,0.045455,0.000000,0.818182,0.000000,0.772727,0.090909,0.265,2018-4-30,김재환
58,0.297,3.956522,0.695652,1.173913,0.478261,0.043478,0.173913,0.826087,0.000000,0.000000,0.260870,0.043478,1.130435,0.043478,0.280,2018-5-31,김재환
59,0.430,4.115385,1.000000,1.769231,0.230769,0.000000,0.538462,1.384615,0.000000,0.000000,0.307692,0.038462,0.769231,0.038462,0.333,2018-6-30,김재환
60,0.402,3.904762,0.714286,1.571429,0.333333,0.000000,0.285714,0.809524,0.047619,0.000000,0.523810,0.047619,0.857143,0.000000,0.348,2018-7-31,김재환
61,0.267,3.750000,0.333333,1.000000,0.250000,0.000000,0.083333,0.416667,0.000000,0.000000,0.333333,0.083333,1.166667,0.000000,0.340,2018-8-31,김재환
62,0.383,3.521739,0.956522,1.347826,0.173913,0.000000,0.478261,1.478261,0.000000,0.000000,0.434783,0.086957,0.913043,0.043478,0.346,2018-9-30,김재환
63,0.000,3.800000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.200000,1.400000,0.200000,0.334,2018-10-31,김재환
64,0.286,4.000000,0.714286,1.142857,0.142857,0.142857,0.000000,0.857143,0.000000,0.000000,0.428571,0.142857,0.285714,0.285714,0.286,2018-3-31,최주환
65,0.293,3.727273,0.409091,1.090909,0.409091,0.136364,0.136364,1.045455,0.000000,0.000000,0.227273,0.136364,0.681818,0.000000,0.291,2018-4-30,최주환
66,0.344,4.043478,0.869565,1.391304,0.347826,0.086957,0.217391,0.782609,0.043478,0.000000,0.260870,0.043478,0.739130,0.000000,0.315,2018-5-31,최주환
67,0.352,3.791667,0.750000,1.333333,0.250000,0.000000,0.166667,0.666667,0.000000,0.000000,0.500000,0.000000,0.625000,0.041667,0.327,2018-6-30,최주환
68,0.289,3.619048,0.523810,1.047619,0.047619,0.000000,0.238095,0.619048,0.000000,0.000000,0.333333,0.000000,0.619048,0.000000,0.319,2018-7-31,최주환
69,0.368,3.166667,0.416667,1.166667,0.333333,0.000000,0.166667,0.666667,0.000000,0.000000,0.833333,0.166667,0.500000,0.083333,0.324,2018-8-31,최주환
70,0.364,3.826087,0.739130,1.391304,0.434783,0.000000,0.304348,1.000000,0.000000,0.000000,0.260870,0.086957,0.826087,0.000000,0.331,2018-9-30,최주환
71,0.391,3.833333,0.333333,1.500000,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.333333,0.166667,0.333333,0.166667,0.333,2018-10-31,최주환

In [22]:
df.to_csv('batter_other_info.csv',encoding='utf-8')